body
{
    background: url(../img/body_bg.png) repeat-x  0 163px #deedf3;
}

a
{
  color: rgb(0, 114, 163);
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#content > .container
{
    border: solid 9px #E0EFF6;
    border-top: none;
    background: transparent url(../img/content.jpg) repeat scroll 0 0;
    padding-bottom: 20px;

    border: solid 1px rgb(189, 213, 224);
    border-top: none;
    background: rgba(0, 0, 0, 0) url(../img/content.jpg) repeat scroll 0 0;
    box-shadow: 0 10px 3px 9px rgb(224, 239, 246);
}

#content > .container > .section
{
    margin-top: 15px;
}

#content > .container > .container2
{
/*    max-width: 970px; */
    padding-top: 15px;
    padding-bottom: 20px;
}

a#logo
{
    width: 89px;
    height: 35px;
    background: transparent url(../img/mobile_logo.png) no-repeat scroll 0 0;
    display: block;
    text-indent: -9999px;
    margin: 10px 15px 10px 10px;
}

#zenbox_tab
{
    display: none !important;
}

#zenbox_tab #feedback_tab_text {
  margin: 10px auto !important;
}

.navbar-inverse
{
    background-color: #D1E7F2;
    border-color: #fff;
}

.navbar-inverse .navbar-toggle
{
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
{
    background-color: #0689C3;
}

.navbar-inverse .navbar-form,
.navbar-inverse .navbar-collapse
{
    border-color: #fff;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #0689C3;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
    color: #333;
}

@media screen and (max-device-width: 480px) {

}

@media (min-width: 768px) {

    .flush-top
    {
        margin-top: 0;
    }

    #zenbox_tab
    {
        background: rgb(0, 114, 163);
        padding: 5px 20px 35px 10px !important;
        display: block !important;
        top: 26% !important;
        min-width: 150px !important;
        height: 55px !important;
        font-size: 14px !important;
        margin: 0 0 0 20px;
    }

    a#logo
    {
        width: 149px;
        height: 58px;
        text-indent: -9999px;
        background: transparent url(../img/logo.png) no-repeat scroll 0 0;
        display: block;
        margin: 15px 0;
    }

    header
    {
        background: url(../img/header_bg.png) repeat-x;
        height: 163px;
    }

    nav.personal
    {
        background: url(../img/nav_personal_01.png) bottom left no-repeat;
        height: 26px;
        padding: 0 0 0 5px;
    }

    nav.personal ul
    {
        background: url(../img/nav_personal_03.png) bottom right no-repeat;
        height: 26px;
        padding: 0 5px 0 0;
    }

    nav.personal li
    {
        background: url(../img/nav_personal_02.png) bottom repeat-x;
        height: 26px;
        padding: 4px 16px 0 16px;
    }

    .navbar-nav > li > a,
    .navbar-nav > li > a:hover
    {
        line-height: auto;
        background-color: transparent;
    }

    nav.personal > .navbar-nav > li > a,
    nav.personal > .navbar-nav > li > a:hover
    {
        display: block;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 8px;
        line-height: 16px;
        color: #fff;
    }

    nav.ef-navbar-main
    {
        margin-top: -8px;
    }

    nav.ef-navbar-main li
    {
        background: transparent url(../img/purp_bg.png) no-repeat top left;
        height: 45px;
        margin: 0 5px 0 0;
    }

    nav.ef-navbar-main li.active
    {
        background-image: url(../img/blue_bg.png);
    }

    nav.ef-navbar-main a
    {
        background: transparent url(../img/purp_end.png) no-repeat top right;
        display: block;
        padding: 14px 24px 0 24px;
        color: rgb(143, 35, 179);
        font-weight: bold;
        font-size: 12px;
        height: 43px;
    }

    nav.ef-navbar-main .active a
    {
        color: rgb(0, 137, 196);
        background-image: url(../img/blue_end.png);
    }

    nav.category
    {
        clear: both;
        padding: 8px 0 0 15px;
    }

    nav.category a
    {
        color: #0072a3;
        display: block;
        padding: 0 20px 0 20px;
        font-size: 12px;
        line-height: 23px;
        font-weight: bold;
    }

    nav.category li
    {
        float: left;
    }

    nav.category li.active
    {
        background: url(../img/nav_bg1.png) no-repeat left top;
    }

    nav.category .active a
    {
        background: url(../img/nav_bg2.png) no-repeat right top;
        color: #fff;
        font-weight: normal;
    }
}

@media (min-width: 1200px)
{
    .theme-dashboard .container
    {
        max-width: 970px;
    }
}

header .user
{
    clear: right;
    padding-top: 20px;
}

header .user .img
{
    background: #fff;
    border: solid 1px rgb(86, 177, 216);
    float: right;
    height: 51px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 4px;
    width: 51px;
}

header .user p
{
    color: rgb(105, 105, 105);
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 3px 0;
    text-align: right;
}

header .user .small
{
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    text-align: right;
}

a#question_queue,
a#browse,
a#report
{
    background: transparent url(../img/question_queue.png) no-repeat scroll 0 0;
    width: 210px;
    height: 46px;
    text-indent: -99999px;
    display: block;
    margin: 5px  auto;
}

a#browse
{
    background-image: url(../img/coursework.png);
}

a#report
{
    background-image: url(../img/my_report_card.png);
}

div.greeting,
div.callout
{
    background-color: rgb(217, 237, 246);
    border-right: solid 1px rgb(113, 175, 207);
    padding: 16px;
    min-height: 150px;
}

div.callout
{
    border-right: none;
}

div.callout a
{
    margin: 5px;
    display: block;
}

ul.messages
{
    border-bottom: solid 1px rgb(200, 216, 220);
    margin: 0 0 19px 0;
}

div.tabs
{
    background-color: rgb(217, 237, 246);
    padding-bottom: 1px;
    margin-top: 15px;
}

div.tabs .rank
{
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    font-weight: bold;
}

.full-rankings .rank
{
    font-size: 26px;
}

.nav-tabs
{
    border-bottom: none;
}

.nav-tabs > li
{
    width: 50%; /* assuming two tabs */
}

.nav-tabs > li a,
.nav-tabs > li a:hover
{
    background: transparent url(../img/tab_bg.jpg) no-repeat top right;
    color: #fff;
    font-weight: bold;
}

.nav-tabs > li a.right
{
    background-position: top left;
}

.nav-tabs > li.active a,
.nav-tabs > li.active a:hover
{
    border: none;
    background: none;
    color: rgb(107, 135, 147);
}

ol.standings
{
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    padding: 0 15px;
}

ol.standings li
{
    background: #fff url(../img/top_bg.png) repeat-x left bottom;
    list-style: none;
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1px;
}

ol.standings .standing
{
    background: transparent url(../img/arrow.png) no-repeat 8px 20px;
    font-weight: bold;
}

ol.standings .user
{
}

.experience-points-block
{
    padding-left: 0;
}

.table,
.table-bordered
{
    color: rgb(107, 135, 147);
}

.table-bordered thead tr,
.table thead tr
{
    background: rgb(243, 247, 248) url(../img/subject_hd_bg.png) repeat-x scroll 0 0;
    border-bottom: solid 1px rgb(203, 211, 215);
}

.table-bordered thead tr th,
.table thead tr th
{
    border-bottom: none;
    color: rgb(52, 69, 77);
    font-weight: bold;
    font-size: 12px;
}

.table-bordered tbody tr td,
.table tr td
{
    background: rgb(243, 247, 248) url(../img/exp_bg.png) repeat-x;
}

.table-bordered-only > thead > tr > th,
.table-bordered-only > tbody > tr > th,
.table-bordered-only > tfoot > tr > th,
.table-bordered-only > thead > tr > td,
.table-bordered-only > tbody > tr > td,
.table-bordered-only > tfoot > tr > td
{
    border-bottom: solid 1px #ddd;
    border-left: none;
    border-right: none;
}

.table-bordered-only > thead > tr > th:last-child,
.table-bordered-only > tbody > tr > th:last-child,
.table-bordered-only > tfoot > tr > th:last-child,
.table-bordered-only > thead > tr > td:last-child,
.table-bordered-only > tbody > tr > td:last-child,
.table-bordered-only > tfoot > tr > td:last-child
{
    border-right: solid 1px #ddd;
}

table tfoot ul,
ul.pager
{
    list-style: none;
    list-style-type: none;
}

table tfoot ul li,
ul.pager li
{
    display: inline-block;
    padding: 0 10px;
}

ul.messages
{
    border-bottom: solid 1px rgb(200, 216, 220);
    margin: 0 0 10px 0;
}

ul.messages li
{
    background: rgb(243, 247, 248) url(../img/exp_bg.png) repeat-x 0 0 scroll;
    border: solid 1px rgb(200, 216, 220);
    border-bottom: none;
    margin: 0;
    padding: 4px 8px 4px 28px;
}

ul.messages li a
{
    font-weight: bold;
    font-size: 12px;
}

body > footer
{
    margin-top: 80px;
}

footer .container
{
    text-align: center;
    padding: 20px;
}

.observer
{
    max-width: 80%;
}


/* GLOBAL.CSS */
.chooser
{
    margin: -15px -15px 0 -15px;
}

.chooser .alert
{
    margin-top: 15px;
}

.settings label
{
    font-weight: normal;
}

.settings > .heading
{
    margin:-15px -15px 20px;
    border-left: none;
    border-right: none;
}

.settings h3
{
    margin-top: 5px;
}

.heading
{
    background: url(../img/subject_hd_bg.png) repeat-x;
    border-bottom: 1px solid rgb(203, 211, 215);
    border-left: 1px solid rgb(203, 211, 215);
    border-right: 1px solid rgb(203, 211, 215);
    height: 38px;
    overflow: hidden;
}

.heading > p
{
    padding: 10px 10px 12px;
}

.chooser .heading:first-child
{
    border-left: none;
}

.chooser .heading form
{
    float: right;
    height: 27px;
    margin: -4px 0 0 0;
    padding: 0 15px 0 0;
}

.chooser .heading button
{
    background: url(../img/search1.png) no-repeat;
    border: none;
    float: left;
    height: 27px;
    margin: 8px 0 0 0;
    padding: 0;
    width: 23px;
}

.chooser .heading input
{
    background: url(../img/search2.png) no-repeat;
    border: none;
    float: left;
    height: 29px;
    margin: 8px 0 0 -2px;
    padding: 3px 0 4px 5px;
    width: 197px;
}

.chooser h3.heading
{
    color: #8e9ba2;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 8px;
}

.chooser h2
{
    margin-top: 0;
    font-size: 24px;
}

.chooser .subject li a,
.chooser .menu li a,
.chooser .topic li a,
.chooser .listing li a
{
    display: block;
    font-weight: normal;
    padding: 8px 25px;
    text-decoration: none;
}

.chooser .subject li,
.chooser .menu li,
.chooser .topic li,
.chooser .listing li
{
    background: #fafbfc;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f5f8f9));
    background: -webkit-linear-gradient(#FFFFFF, #f5f8f9);
    background: -moz-linear-gradient(#FFFFFF, #f5f8f9);
    background: -ms-linear-gradient(#FFFFFF, #f5f8f9);
    background: -o-linear-gradient(#FFFFFF, #f5f8f9);
    background: linear-gradient(#FFFFFF, #f5f8f9);
    border-bottom: 1px solid #cbd3d7;
    border-left: 1px solid #cbd3d7;
    border-right: 1px solid #cbd3d7;
    position: relative;
}

.chooser .subject li,
.chooser .menu li
{
    border-left: none;
}

.chooser .name li
{
    margin: 8px;
    display: inline-block;
}

.chooser .subject,
.chooser .topic,
.chooser .teacher,
.chooser .name,
.chooser .menu
{
    padding: 0;
}

.chooser .topic,
.chooser .teacher
{
    margin: 0 0 0 -1px;
}

.chooser .topic li.active,
.chooser .subject li.active,
.chooser .menu li.active
{
    background: url(../img/subject_selected.png) no-repeat;
    border: none;
    border-top: solid 1px rgba(102, 102, 102, 0.3);
    border-bottom: solid 1px rgba(102, 102, 102, 0.3);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 0 0 -2px;

    background: #46b8e9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzQ2YjhlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODhjYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #46b8e9 1%, #088cc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#46b8e9), color-stop(100%,#088cc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #46b8e9 1%,#088cc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #46b8e9 1%,#088cc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #46b8e9 1%,#088cc6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #46b8e9 1%,#088cc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b8e9', endColorstr='#088cc6',GradientType=0 ); /* IE6-8 */
}

.chooser .topic li.active:before,
.chooser .subject li.active:before,
.chooser .menu li.active:before
{
    border: solid transparent;
    border-left-color: rgb(34, 158, 213);
    border-width: 17px;
    position: absolute;
    left: 100%;
    top: 1px;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
}

.chooser .menu li.active:before
{
    top: 1px;
    border-left-color: none;
    border: none;
}

.chooser .topic li.active a,
.chooser .subject li.active a,
.chooser .menu li.active a
{
    color: #fff;
    font-weight: bold;
}

.chooser .topic li.last,
.chooser .subject li.last,
.chooser .menu li.last
{
    border-bottom: 1px solid #cbd3d7;
}

.chooser .subject,
.chooser .menu
{
    position: relative;
    z-index: 3;
}

.chooser .topic
{
    position: relative;
    z-index: 2;
}

.chooser .topic li.active a
{
    background: none;
}

.chooser .teacher
{
    float: left;
}

.chooser .teacher .heading
{
    border-bottom: 1px solid #cbd3d7;
}
.chooser .heading small
{
    font-size: 11px;
    padding: 8px;
    display: inline-block;
}
.chooser .teacher p
{
    padding: 0 0 0 12px;
}
.chooser .teacher ul
{
    border-top: 1px solid #cbd3d7;
    margin-top: -1px;
}
.chooser .teacher .heading ul
{
    border-top: none;
}

.chooser .subject_select
{
    margin-top: 10px;
}

.chooser ul.subjects li > a
{
    color: #0072A3;
    font-weight: bold;
    font-size: 16px;
}

.chooser .listing li
{
    background: #fafbfc;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f5f8f9));
    background: -webkit-linear-gradient(#FFFFFF, #f5f8f9);
    background: -moz-linear-gradient(#FFFFFF, #f5f8f9);
    background: -ms-linear-gradient(#FFFFFF, #f5f8f9);
    background: -o-linear-gradient(#FFFFFF, #f5f8f9);
    background: linear-gradient(#FFFFFF, #f5f8f9);
    border-left: 1px solid #cbd3d7;
}

.chooser .listing li a
{
    color: inherit;
    height: auto;
    padding: 10px 10px 10px 25px;
    width: auto;
}
.chooser .teacher .img
{
    background: #f0f3f5;
    border: 1px solid #c8d8dc;
    float: left;
    height: 60px;
    margin: 0 14px 0 0;
    overflow: hidden;
    width: 60px;
}
.chooser .teacher .title
{
    color: #a1a1a1;
    font-size: 12px;
    font-style: italic;
}
.chooser .teacher h2
{
    font-size: 18px;
    margin: 8px 0;
}
.chooser .teacher .rating
{
    float: right;
    padding: 15px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.chooser .name .section
{
    padding: 10px;
}

.message_options
{
    z-index: 3;
    padding: 0;
}

.message_body
{
    z-index: 3;
    padding: 0;
}

.message_body h3.heading
{
    color: #8E9BA2;
    padding: 10px 0 0 12px;
}

.message_body #ajax-content
{
}

.message_body form
{
    background: #FFF;
    border: 1px solid #b3c5c9;
    padding: 0 30px 30px;
}

.message_body a
{
    font-weight: bold;
}

.message_body form label
{
    font-size: 15px;
    font-weight: bold;
}

.message_body .fake_label
{
    margin: 10px 0 20px 200px;
}

#compose_body
{
    height: 100px;
    width: 350px;
}
.message_body td.td-hover,
.message_body tr.td-unread td.td-hover
{
    background: #0072A3;
    color: #fff;
    cursor: pointer;
}
.message_body td.td-hover a
{
    color: #fff;
}
.message_body tr.td-unread td
{
    background: #88C7E2;
    color: #fff;
}
.message_body tr.td-unread a
{
    color: #fff;
}

.ui-widget-overlay
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-widget-overlay
{
    background: #aaaaaa url(../img/dialog/overlay.png) 50% 50%;
    filter: Alpha(Opacity=70);
    opacity: .70;
}
.ui-icon
{
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-dialog .ui-dialog-title
{
    float: left;
    margin: 0 16px 0 0;
}
.ui-dialog .ui-dialog-titlebar-close
{
    display: none;
    height: 40px;
    margin: -15px -15px 0 0;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.ui-dialog .ui-dialog-titlebar-close span
{
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
    padding: 1px;
}
.ui-dialog .ui-dialog-buttonpane
{
    background: url(../img/dialog/overlay_mid.png) repeat-y;
    border-width: 1px 0 0 0;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
    text-align: left;
}
.ui-dialog .ui-dialog-buttonpane button
{
    cursor: pointer;
    float: right;
    line-height: 1.4em;
    margin: .5em .4em .5em 0;
    overflow: visible;
    padding: .2em .6em .3em .6em;
    width: auto;
}
.ui-dialog .ui-resizable-se
{
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}
.ui-dialog
{
    background: url(../img/dialog/overlay_bot.png) no-repeat;
    background-position: bottom;
    border: none;
    margin: 0 auto 0 auto;
    padding: 0 .2em 10px .2em;
}
.ui-dialog-titlebar
{
    background: url(../img/dialog/overlay_top.png) no-repeat;
    background-position: top;
    font-weight: bold;
    padding: 0 18px 24px 18px;
    position: relative;
    text-transform: uppercase;
}
.ui-dialog-content
{
    background: url(../img/dialog/overlay_mid.png) repeat-y;
    border: none;
    clear: both;
    overflow: auto;
    padding: 5px 18px 0 18px;
    zoom: 1;
}

/* by_teacher css */
.by_teacher h3
{
    color: #8e9ba2;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    margin: 0;
}

.by_teacher h4
{
    color: #8e9ba2;
}

.by_teacher form
{
    padding-bottom: 20px;
}

.by_teacher input
{
    float: left;
    height: 30px;
}

.by_teacher button
{
    background: url(../img/search_btn.png);
    border: none;
    float: right;
    height: 32px;
    text-indent: -9999px;
    width: 61px;
}

.divider {
    background: rgb(179, 197, 201);
    height: 1px;
    width: 100%;
}

.alert-dashboard
{
    margin-top: 15px;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

.alert-dashboard h4
{
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.4em;
}

.alert-error {
    color: #eee;
    background-color: rgb(185, 74, 72);
}

.alert-error a {
    color: #eee;
    font-weight: bold;
}

.alert-info
{
    background-color: #3EA7CF;
    border-color: #fff;
    color: #fff;
}

.bordered
{
    border-radius: 6px;
    border: solid 1px #ccc;
    padding: 15px;
}

.account-info
{
    background-color: #fff;
}

.card_option
{
    width: auto;
}

.opaque
{
    background-color: #fff;
    padding-top: 15px;
}

.dob-fields label
{
    display: none;
}

.back_button
{
    float: left;
    padding: 7px 8px;
    background: transparent url(../img/vert_div.png) top right repeat-y;
    width: 76px;
}

.breadcrumb
{
    background: none;
    padding: 0;
    font-weight: bold;
}

.breadcrumb li
{
    background: transparent url(../img/angle_div.png) no-repeat center right;
    padding: 8px 20px 9px 12px;
}

.breadcrumb > li + li:before
{
    content: "";
}

.bio
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.test-start-teacher-info
{
    margin-top: 35px;
}

form#start
{
    margin-top: 20px;
}

form#start input[type="submit"]
{
    background: transparent url(../img/take-test-now-button.png) no-repeat scroll 0 0;
    width: 179px;
    height: 46px;
    text-indent: -9999px;
    border: none;
}

.advice
{
    margin-top: 15px;
    font-style: italic;
    font-size: small;
    width: 179px;
    text-align: center;
}

.img
{
}

.public-profile-header
{
    margin-bottom: 15px;
}

.public-profile-header h2
{
    margin-top: 0;
}

.report-header
{
    text-align: center;
    padding: 15px;
    background-color: #fff;
    background: #fff url(../img/gorgeous.png) repeat-x 0 -9px;
}

.report-header h1
{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    color: #666;
}

.report-body h3
{
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    font-size: 1.3em;
    margin-top: 1.3em;
}

.report-body .key-point
{
    font-size: 48px;
    color: #54B0D7;
    font-weight: bold;
}

.report-body .key-point span
{
    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
}

.report-body .table-bordered,
.report-body .table-bordered > tbody > tr td,
.report-body .table-bordered > thead > tr > th
{
    border: solid 1px #CFE9F3;
}

.report-body .table-bordered > thead > tr > th
{
    font-weight: normal;
    vertical-align: middle;
}

.report-body .table-bordered > tbody > tr td
{
    text-align: center;
    vertical-align: middle;
}

.report-body .table-bordered thead tr,
.report-body .table thead tr
{
    background: none;
    background-color: #fff;
    text-transform: uppercase;
}

.report-body .table-bordered thead tr.title th
{
    background-color: #EAF5FA;
    color: #0687C3;
    font-weight: normal;
}

.report-body .table-bordered tr th,
.report-body .table thead tr th,
{
    color: #0687C3;
}

.report-body .topics
{
    margin-top: 10px;
}

.report-body .section-title
{
    page-break-before: avoid;
}

#reportrange
{
    background: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 8px;
    line-height: 18px;
    cursor: pointer;
}

#reportrange span
{
    font-style: italic;
}

.shiv
{
    position: fixed;
    width: 100%;
    opacity: 1;
    left: 0;
    bottom:0;
    height: 350px;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(255, 255, 255, 0)", endColorstr="rgba(255, 255, 255, 1)");*/
    z-index: 1000;
    text-align: center;
}

.shiv .container
{
    margin-top: 50px;
    background-color: #956ec0;
    color: #fff;
    padding-bottom: 50px;
}

.trench
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panel-heading h3
{
    margin-top: 0;
    margin-bottom: 0;
}

.classrooms .codes label
{
    font-weight: normal;
    font-family: serif;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

.classrooms .codes label.tagged,
span.tagged
{
    text-decoration: line-through;
    color: #ccc;
}

.profile-card
{
    margin-top: 20px;
    height: 100px;
    overflow: hidden;
}

.profile-card .section
{
    background: white;
    border-radius: 9px;
    border: solid 1px rgb(189, 213, 224);
    padding: 18px;
}

.profile-card h5
{
    margin-top: 0;
    margin-bottom: 0;
}

.profile-card img
{
    background: #fff;
    border: solid 1px #ccc;
    float: left;
    height: 51px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 4px;
    width: 51px;
}

.typehead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead
{
    display: block !important;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

.video-wrap
{
  margin-top: 15px;
  min-height: 240px;
}

@media only screen and (min-width: 768px)
{
    .video-wrap
    {
      min-height: 360px;
  }
}

.video-wrap h2
{
    margin-top: 15px;
}

.video-more
{
    border-top: solid 1px #ccc;
    padding-top: 0;
    margin-top: 15px;
}

.video-more-title
{
    text-indent: 15px;
    margin-top: 0;
    padding-top: 10px;
}

#referral
{
    background: #2399cc;
}

#referral #content > .container
{
    background: none;
    box-shadow: none;
    border: none;
}

#referral h1
{
    color: white;
}
#example
{
    background: url(../../teachers/img/content_bg.png);
    box-shadow: #333 0px 2px 6px;
    color: #6b8793;
    moz-box-shadow: #333 0px 2px 6px;
    padding: 40px 0;
    webkit-box-shadow: #333 0px 2px 6px;
}
#example .multiple
{
    background: url(../../teachers/img/content_div.png) no-repeat right center;
    padding: 0 50px;
}
#example .short
{
    padding: 0 50px;
}
#example h1
{
    color: #000;
    font-weight: bold;
    padding: 0 0 10px 0;
}
#example h4
{
    color: #6b8793;
    font-size: 18px;
    font-style: italic;
    padding: 0 0 8px 0;
}
#example ol
{
    font-size: 18px;
    list-style: decimal;
    padding: 0 0 0 25px;
}
#example ul
{
    color: #465961;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}
#example textarea
{
    background: #FFF;
    border: 1px solid #6f8791;
    border-radius: 0px;
    box-shadow: inset #999 0px 0px 6px;
    height: 75px;
    margin-top: 12px;
    moz-box-shadow: inset #999 0px 0px 6px;
    padding: 5px;
    resize: none;
    webkit-box-shadow: inset #999 0px 0px 6px;
}
#example input
{
    margin: 0 8px 0 0;
}
#example a
{
    background: url(../../teachers/img/content_btn.png) no-repeat;
    color: #996633;
    display: block;
    font-size: 16px;
    margin: 40px auto 0 auto;
    text-align: center;
    line-height: 48px;
    height: 48px;
    width: 291px;
    text-decoration: none;
}

#multiple label
{
    color: #0072a3;
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0 5px 0;
}
#multiple .topic
{
    float: left;
    width: 180px;
}
#multiple .left
{
    float: left;
    padding-top: 25px;
    width: 50%;
}
#multiple .left label
{
    height: 40px;
    padding: 0;
}
#multiple .right
{
    float: right;
    padding-top: 65px;
    width: 49%;
}
#multiple .float_left
{
    float: left;
    padding-top: 25px;
    width: 50%;
}
#multiple .float_right
{
    float: right;
    padding-top: 25px;
    width: 49%;
}
#multiple select
{
    color: #437182;
    padding: 5px;
    width: 250px;
}
#multiple .question
{
    background: #fff;
    border-radius: 8px;
    box-shadow: #c6dade 0px 0px 6px;
    height: 120px;
    moz-box-shadow: #c6dade 0px 0px 6px;
    padding: 6px;
    resize: none;
    webkit-box-shadow: #c6dade 0px 0px 6px;
    width: 90%;
}
#multiple .choices .question
{
    height: 60px;
    margin-bottom: 15px;
}
#multiple .choices label
{
    height: 30px;
}
#multiple .left small
{
    clear: both;
    color: #0072a3;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0 0 8px;
}
#multiple input
{
    padding: 6px;
}
#multiple input[type="file"]
{
    background: url(../../teachers/img/attach.png) no-repeat left bottom;
    border: none;
    height: 24px;
    margin: 8px 0 0 8px;
    padding: 0 0 0 35px;
}
#multiple .left .another
{
    margin-left: 8px;
}
#multiple .another
{
    background: url(../../teachers/img/add.png) no-repeat left bottom;
    color: #333;
    display: block;
    height: 16px;
    padding: 5px 0 0 25px;
    text-align: left;
    width: 150px;
}
#multiple .help
{
    background: url(../../teachers/img/help.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
}
#multiple .help div
{
    background: #fff;
    border: 1px solid #c6dade;
    border-radius: 5px;
    color: #999;
    display: none;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    left: -100px;
    padding: 12px;
    position: absolute;
    text-align: left;
    top: 25px;
    width: 200px;
    z-index: 1000;
}
#multiple .help:hover div
{
    display: block;
}
#multiple .hint
{
    background: url(../../teachers/img/hint.png) no-repeat left top;
    cursor: pointer;
    height: 31px;
    margin: -4px 0 0 0;
    text-align: right;
    width: 143px;
}
#multiple .explain
{
    background: url(../../teachers/img/explain.png) no-repeat left top;
    cursor: pointer;
    height: 31px;
    margin: -4px 0 0 0;
    text-align: right;
    width: 143px;
    margin-top: 1em;
}
#multiple .right textarea
{
    background: #FFF;
    border: 1px solid #c6dade;
    border-radius: 0px;
    height: 80px;
    padding: 5px;
    resize: none;
    width: 90%;
    margin-bottom: 1em;
}
#multiple #explanation
{
    display: none;
}
#multiple .options
{
    float: left;
    padding-top: 40px;
    width: 55%;
}
#multiple .options ol
{
    color: #0072a3;
    font-size: 14px;
    margin: 0;
    padding: 10px 0 0 22px;
}
#multiple .options li
{
    list-style: upper-alpha;
    margin: 0;
    padding: 0 0 10px 0;
}
#multiple .option input[type="text"]
{
    margin-right: 10px;
    width: 320px;
}
#multiple .options li p
{
    color: #333;
    font-size: 12px;
    margin: 0;
    padding-top: 4px;
    text-align: right;
    text-decoration: underline;
    width: 332px;
}
#multiple .option .correct
{
    display: block;
    font-size: 12px;
    height: 30px;
    margin: 0;
    padding: 0 0 8px 0;
}
#multiple .option .correct label
{
    display: block;
    float: none;
    font-weight: normal;
    height: auto;
}
#multiple .difficulty
{
    float: right;
    padding-top: 40px;
    text-align: center;
    width: 45%;
}
#multiple button[type="submit"]
{
    background: url(../../teachers/img/create_btn.png) no-repeat;
    border: none;
    color: #996633;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    margin: 30px 54px 0 54px;
    text-align: center;
    width: 192px;
}
#multiple .answers p
{
    color: #333;
    font-size: 12px;
    margin: 0;
    padding-top: 4px;
    text-align: right;
    text-decoration: underline;
    width: 92%;
}
#multiple .answers label
{
    float: left;
}
#multiple .multi
{
    float: right;
    margin-right: 7%;
}
#multiple .parts label
{
    display: block;
    margin: 0;
    padding: 12px 0 0 0;
}
#multiple .parts label.title
{
    padding: 0;
    padding-top: 35px;
}
#difficult
{
    background: url(../../teachers/img/difficulty_bg.png) no-repeat;
    height: 22px;
    margin: 25px auto 0 auto;
    padding: 0 0 0 53px;
    width: 291px;
}
.ui-slider
{
    height: 21px;
    position: relative;
    text-align: left;
    width: 224px;
}
.ui-slider-handle
{
    background: url(../../teachers/img/difficulty.png);
    cursor: pointer;
    height: 33px;
    margin-left: -12px;
    position: absolute;
    top: -8px;
    width: 24px;
    z-index: 2;
}

.overview {
    border: 1px solid #b4dcee;
    background: #FFF;
    padding: 6px 8px;
}

#launch
{
    background: white url(../img/smallad.jpg) no-repeat top right;
    height: 31px;
    padding-left: 25px;
    display: block;
    color: #8b17bc;
    line-height: 31px;
}

#message_scroll
{
    height: 250px;
    overflow-y: scroll;
    background-color: white;
    border-left: solid 1px #ccc;
}

#message_scroll .message-thread
{
    padding:0;
    list-style: none;
}

#message_scroll .message-thread li
{
    padding: 10px 0;
}


#message_scroll .message-thread li .img
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
}

#message_scroll .message-thread li .msg-envelope
{
    margin-left: 0;
    padding-left: 0;
}

#message_scroll .message-thread li .msg-timestamp
{
    font-size: 10px;
    color: #ccc;
}

#message_scroll .message-thread li .msg-sender
{
    font-size: 13px;
    font-weight: bold;
}

#message_scroll .message-thread li .msg-content
{
    color: #141823;
}

span.color
{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 15px;
    color: white;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#subjectspie
{
    margin: 0 auto;
    display: block;
}

.report-panels
{
    margin-top: 15px;
}

#overallpie
{
    z-index: 10;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: -170px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    vertical-align: middle;
}

.profile.report-header
{
    text-align: left;
}

.report-header .grade
{
    font-weight: bold;
}

.profile.report-header h1
{
    margin-top: 0;
}

.profile.report-header .user
{
    margin-right: 15px;
    float: left;
}

.report-header .email
{
    font-style: italic;
    color: #7F26AA;
}
