/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{  margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent;
}                 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
b, strong { font-weight: bold; }
img { font-size: 0; }

table {	border-collapse: collapse; border-spacing: 0; }
th, td, caption { font-weight: normal; vertical-align: top;	text-align: left; }

/* !BASE STYLES */
html, body { height: 100%; background: #fff; position: relative;  }
body {
	font-family:  Geneva, 'Helvetica Neue', Helvetica, Arial sans-serif;
	color: #444;
	font-size: 0.625em;		/* Reset base font size to 10px */
	overflow: visible;
}
section { overflow: auto; height: 100%; }
hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

a:link, a:visited { color: #06c; text-decoration: none; }
a:hover { text-decoration: underline; }

ul, ol {
	margin-left: 2em;
	list-style-position: inside;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* Misc Effects */
.hover-toggle .hover-item { visibility: hidden; }
.hover-toggle:hover .hover-item { visibility: visible; }
.padded { padding: 20px; }
.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
ul.clean { 
	list-style-position: inside; 
	border-top: 1px solid #eee; 
}
ul.clean li { 
	list-style: none; 
	border-bottom: 1px solid #eee;
	padding: 5px 0;
}


/* Grids */
.row:after,.last-column:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.row{*zoom:1;}
.column{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.last-column{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* Selection styles */
::selection 	 	{background: #dbe3f0;}
::-moz-selection 	{background: #dbe3f0;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}

/* Basic Typography */
body
{
    font-size: 13px;
    line-height: 18px;
}
table tr td, table tr th, form
{
    padding-left: 18px; padding-right: 18px;
}
table tr td:first-child, table tr th:first-child: { padding-right: 0; }
p { margin-bottom: 9px; max-width: 50em; }
h1, h2, h3, h4, h5, h6 { font-weight: bolder; color: #444; font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, h2 { line-height: 45px; }
h3, h4 { line-height: 36px; }
h5, h6 { line-height: 24px; }
h1 { font-size: 24px; color: #3d55a2; }
h2 { font-size: 24px;  }
h3 { font-size: 21px; }
h4, h5 { font-size: 18px; text-transform: uppercase; font-weight: lighter; }
h5 { font-size: 14px; color: #000; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.small { font-size: 90%; font-weight: lighter; line-height: 1.2em; color: #999; font-family: Helvetica, sans-serif; }
.big-text { font-size: 2.4em; }

/* !BOXES */
.box {
	border: 1px solid #ccd;
	padding: 0.5em 1em;
	margin: 18px;
}
.box.delete {
	border-color: #DCB5B5;
}
.box.create {
	border-color: #aca;
}
.box .button,
.box a.button {
	float: right; 
	margin-top: 0.6em;
	padding: 1.3em 2em;
}
.box .cancel {
	/*position: absolute;
	top: 6em;
	right: 4em;*/
}

/* TABLES */
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 18px;
}
table td {
	border: 0;
}
thead th {
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding-left: 5px;
	color: #999;
}
tbody td {
	padding: 3px 5px;
}
tfoot td {
	text-align: right;
	padding: 15px 20px 0 20px;
}
.ie tbody tr.odd td { background-color: #edf3fe !important; }
tbody tr:nth-child(even) { background-color: #edf3fe; }
.banned { background: #f0cece; }
.merchant { background: #a2b4ee; }
.admin { background: #d5f0ce; }

.matrix td { text-align: center; }
td.matrix-title {
	background: #dbe3f0;
	border-bottom: 1px solid #aab;
	border-right: 1px solid #aab;
	text-align: left;
}
.matrix th {
	padding: 7px 5px;
	background: #dbe3f0;
	margin: 0;
	border-right: 1px solid #aab;
	border-bottom: 1px solid #aab;
}

/* !FORMS */
label { 
	display: inline-block;
	width: 15em; 
	margin-right: 1.5em;
	text-align: right;
	line-height: 1.5;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
	width: 60%;
	max-width: 35em;
	padding: 3px 8px;
	border: 1px solid #ddd;
	font-size: inherit;
}
input[type=checkbox] {
	display: inline;
}
textarea {
	padding: 0 10px;
	line-height: 1.5;
	font-size: 0.875em;
}
select { min-width: 10em; font-size: 13px; }
select.multiple-select {
	width: 702px;
	border: 1px solid #ddd;
	margin-top: -3px;
}

input.medium { width: 45%; }
input.tiny { width: 3em !important; }
fieldset {
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding: 10px 0 10px 0;
}
fieldset legend {
	font-weight: bold;
	padding-right: 15px;
	color: #347;
}
form div {
	padding: 3px 0;
}
form .spacer {
	margin-top: 30px;
}
form .indent {
	margin-left: 18em;
}
div.submits {
	margin-top: 30px;
	padding: 20px 0;
	text-align: right;
	border-top: 1px solid #ccc;
}

/* !NOSCRIPT */
noscript {
	display: block;
	background: #fffbcc;
	color: #000;
	line-height: 2.0em;
	text-align: center;
}

/* !TOOLBAR */
#toolbar {
	background-color: #2a476a;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#405a87', endColorstr='#263857');
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(36,53,83)), color-stop(1, rgb(64,90,135)));
	background-image: -moz-linear-gradient(center bottom, rgb(36,53,83) 0%, rgb(64,90,135) 100%);
	border-bottom: 1px solid #394949;
	padding: 0 0 8px 0;
	text-align: center;
	/*position: absolute;
	top: 0;
	left: 0;
	right: 0;
    */
	height: 32px;
	z-index: 2;
}
#toolbar-left {
	height: 32px;
	/*position: absolute;
	left: 0px;
	top: 0px;*/
    float: left;
	z-index: 90;
    margin-top: -30px;
}
#toolbar-right {
	height: 32px;
    float: right;
	top: 0px;
	z-index: 90;
    margin-right: 5px;
}
#nav_right {
	/*position: absolute;
	right: 0px;
	top: 2px;*/
	height: 32px;
	vertical-align: middle;
	z-index: 90;
}
#toolbar a:link,
#toolbar a:visited {
	display: block;
	height: 24px;
	width: 24px;
	float: left;
	padding: 5px 10px;
	color: transparent;
	opacity: 0.5;
}
#toolbar a:hover {
	opacity: 1.0;
}
#toolbar a.active {
	opacity: 1.0;
	background-color: #243553;
	border: 1px solid #3E5783;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 4px;
	border-top: 0;
	border-bottom: 0;
}
#toolbar h1 {
	color: #f6f6f6;
	font-size: 22px;
	line-height: 29px;
	text-shadow: -1px -1px 1px #222;
	padding-top: 4px;
    width: 20%;
    margin:0 auto;
}
#toolbar h1 a:link, #toolbar h1 a:visited {
	text-indent: 0;
	width: auto;
	display: block;
	float: none;
	height: auto;
	padding: 0;
	color: #fff;
	opacity: 1.0;
}
#tb_logout { background: url(images/logout.png) 10px 7px no-repeat; }

#toolbar a#tb_email { 
	text-indent: 0; 
	width: auto; 
	color: #ddd;
	font-size: 14px;
	line-height: 24px;
	vertical-align: top;
	padding: 7px 0 0 0;
}

#header {
/*	overflow: hidden; */
}

/* !SUB-NAVIGATION */
.nav-sub {
	display: block;
	/*position: absolute;
	top: 36px;
	left: 0;
	right: 0;*/
	padding-left: 10px;
	padding-bottom: 0;
	height: 28px;
	margin: 0;
	list-style: none;
	background: #222 url(images/bg_fabric_dark.jpg) top left repeat;
	border-bottom: 1px solid #999;
	z-index: 3;
}
.nav-sub li { 
    position: relative;
    display: block;
    width: auto;
	float: left;
}
.nav-sub a:link,
.nav-sub a:visited,
.nav-sub li > span {
	display: block;
	width: auto;
	padding: 0px 10px 0px 10px;
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	color: #abb;
	cursor: pointer !important;
}
.nav-sub a.current,
.nav-sub li > span.current {
	color: #f7f7f7;
}
.nav-sub li ul {
	position: absolute;
	left: 0;
	top: 27px;
	margin-left: 0;
    margin-top: -1px;
	display: none;
    max-width: 250px;
	opacity: 1;
	z-index: 20;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 0 1px 5px #ccc;
	-moz-box-shadow: 0 1px 5px #ccc;
	box-shadow: 0 1px 5px #ccc;
}
.nav-sub li:hover ul {
	display: block;
    opacity: 0.94;
	margin-left: 10px;
}
.nav-sub ul li { 
	list-style: none; 
	min-width: 150px;
    float: none;
}
.nav-sub ul a:link,
.nav-sub ul a:visited {
	float: none;
	color: #444;
}

/* !NAV BAR */
#nav-bar {
	/*position: absolute;
	top: 65px;
	left: 0;
	right: 0;*/
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px 15px;
	-webkit-box-shadow: 0px 1px 10px #ddd;
	-moz-box-shadow: -12px 1px 10px #ddd;
	box-shadow: 0px 1px 10px #ddd;
	z-index: 2;
}
#nav-bar h1 {
	color: #999;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
}

#nav-bar .nav
{
    margin-bottom: 0;
}

/* sub-nav */
#sub-nav {
	/*position: absolute;
	right: 18px;
	top: 4px;*/
}

/* !MAIN CONTENT */
.content-main {
	/*position: absolute;
	top: 130px;
	left: 0px; 
	right: 0px;
	bottom: 1px;
	overflow-x: auto;
	overflow-y: auto;*/
	z-index: 1;
    position: relative;
    height: 100%;
}
#content {
	*width: 100%;
}

/*
	WIDGETS
*/

/* Fancy Textareas */
.fancy-text {
	width: 700px;
}
.fancy-text label {
	display: block;
	color: #333;
	line-height: 2.0;
	text-shadow: 1px 1px 0px #fff;
	width: 700px;
	text-align: center;
	margin: 0;
	border: 1px solid #ddd;
	border-bottom: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
	background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
}
.fancy-text textarea {
	display: block;
	width: 700px;
	max-width: 680px;
	margin: 0 0 25px 0;
}

/*
	AJAX Loader
*/
#loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 9999;
	display: none;
}
#loader .box {
	position: relative;
	margin: 20px auto;
	text-align: center;
	padding: 20px 15px;
	background: #fff;
	border: 5px solid #3a527c;
	border-left: 0;
	border-right: 0;
}
#loader .box img {
	display: block;
	padding: 10px;
	margin: 0 auto;
}
