#column_2 .overview
{
    border: 1px solid #b4dcee;
    height: 116px;
    margin-bottom: 10px;
    background: #FFF;
    padding: 6px 8px;
}
#column_2 .overview img
{
    float: left;
    margin-right: 12px;
}
#column_2 .overview p
{
    font-size: 12px;
    color: #0072a3;
    line-height: 19px;
    margin: 0;
}

.instruction
{
    margin-bottom: 10px;
}
.instruction .question
{
    float: none;
    width: auto;
}

#earnings
{
    background: #fbfbfb;
    border-bottom: 2px solid #e1e7e9;
}
#earnings h2
{
    background: url(../img/earning_bg.png);
    color: #fbfbfb;
    color: #FFF;
    font-size: 24px;
    height: 33px;
    padding: 7px 0 0 60px;
    text-transform: uppercase;
}
#earnings table
{
    color: #0072a3;
    margin: 0 auto;
    width: 270px;
}
#earnings td
{
    padding: 6px 0;
}
#earnings p
{
    padding: 10px 0 5px 15px;
}
#earnings .account
{
    display: block;
    margin: 10px auto;
    width: 210px;
}
#referrals
{
    background: url(../img/referrals.jpg) no-repeat bottom;
    height: 165px;
    padding-top: 20px;
}
#referrals .left
{
    float: left;
    text-align: center;
    width: 112px;
}
#referrals .left h2
{
    color: #3c89ad;
    font-size: 30px;
    margin: 0;
    padding: 10px 0 0 0;
}
#referrals .left small
{
    color: #34454d;
    font-size: 10px;
    text-transform: uppercase;
}
#referrals .right
{
    float: right;
    font-size: 14px;
    height: 115px;
    padding-top: 10px;
    width: 186px;
}
#referrals .link
{
    color: #fff;
    font-size: 14px;
    text-align: center;
}
#referrals .link a
{
    color: #fff;
}
.referrals img
{
    float: left;
    margin: 0 10px 10px 0;
}
.referrals strong
{
    font-size: 16px;
}

#multiple.wrapper
{
    padding: 25px 28px 10px 28px;
}
#multiple label
{
    color: #0072a3;
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0 5px 0;
}
#multiple .topic
{
    float: left;
    width: 180px;
}
#multiple .left
{
    float: left;
    padding-top: 25px;
    width: 50%;
}
#multiple .left label
{
    height: 40px;
    padding: 0;
}
#multiple .right
{
    float: right;
    padding-top: 65px;
    width: 49%;
}
#multiple .float_left
{
    float: left;
    padding-top: 25px;
    width: 50%;
}
#multiple .float_right
{
    float: right;
    padding-top: 25px;
    width: 49%;
}
#multiple select
{
    color: #437182;
    padding: 5px;
    width: 250px;
}
#multiple .question
{
    background: #fff;
    border-radius: 8px;
    box-shadow: #c6dade 0px 0px 6px;
    height: 120px;
    moz-box-shadow: #c6dade 0px 0px 6px;
    padding: 6px;
    resize: none;
    webkit-box-shadow: #c6dade 0px 0px 6px;
    width: 90%;
}
#multiple .choices .question
{
    height: 60px;
    margin-bottom: 15px;
}
#multiple .choices label
{
    height: 30px;
}
#multiple .left small
{
    clear: both;
    color: #0072a3;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 0 0 8px;
}
#multiple input
{
    padding: 6px;
}
#multiple input[type="file"]
{
    background: url(../img/attach.png) no-repeat left bottom;
    border: none;
    height: 24px;
    margin: 8px 0 0 8px;
    padding: 0 0 0 35px;
}
#multiple .left .another
{
    margin-left: 8px;
}
#multiple .another
{
    background: url(../img/add.png) no-repeat left bottom;
    color: #333;
    display: block;
    height: 16px;
    padding: 5px 0 0 25px;
    text-align: left;
    width: 150px;
}
#multiple .help
{
    background: url(../img/help.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
}
#multiple .help div
{
    background: #fff;
    border: 1px solid #c6dade;
    border-radius: 5px;
    color: #999;
    display: none;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    left: -100px;
    padding: 12px;
    position: absolute;
    text-align: left;
    top: 25px;
    width: 200px;
    z-index: 1000;
}
#multiple .help:hover div
{
    display: block;
}
#multiple .hint
{
    background: url(../img/hint.png) no-repeat left top;
    cursor: pointer;
    height: 31px;
    margin: -4px 0 0 0;
    text-align: right;
    width: 143px;
}
#multiple .explain
{
    background: url(../img/explain.png) no-repeat left top;
    cursor: pointer;
    height: 31px;
    margin: -4px 0 0 0;
    text-align: right;
    width: 143px;
    margin-top: 1em;
}
#multiple .right textarea
{
    background: #FFF;
    border: 1px solid #c6dade;
    border-radius: 0px;
    height: 80px;
    padding: 5px;
    resize: none;
    width: 90%;
    margin-bottom: 1em;
}
#multiple #explanation
{
    display: none;
}
#multiple .options
{
    float: left;
    padding-top: 40px;
    width: 55%;
}
#multiple .options ol
{
    color: #0072a3;
    font-size: 14px;
    margin: 0;
    padding: 10px 0 0 22px;
}
#multiple .options li
{
    list-style: upper-alpha;
    margin: 0;
    padding: 0 0 10px 0;
}
#multiple .option input[type="text"]
{
    margin-right: 10px;
    width: 320px;
}
#multiple .options li p
{
    color: #333;
    font-size: 12px;
    margin: 0;
    padding-top: 4px;
    text-align: right;
    text-decoration: underline;
    width: 332px;
}
#multiple .option .correct
{
    display: block;
    font-size: 12px;
    height: 30px;
    margin: 0;
    padding: 0 0 8px 0;
}
#multiple .option .correct label
{
    display: block;
    float: none;
    font-weight: normal;
    height: auto;
}
#multiple .difficulty
{
    float: right;
    padding-top: 40px;
    text-align: center;
    width: 45%;
}
#multiple button[type="submit"]
{
    background: url(../img/create_btn.png) no-repeat;
    border: none;
    color: #996633;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    margin: 30px 54px 0 54px;
    text-align: center;
    width: 192px;
}
#multiple .answers p
{
    color: #333;
    font-size: 12px;
    margin: 0;
    padding-top: 4px;
    text-align: right;
    text-decoration: underline;
    width: 92%;
}
#multiple .answers label
{
    float: left;
}
#multiple .multi
{
    float: right;
    margin-right: 7%;
}
#multiple .parts label
{
    display: block;
    margin: 0;
    padding: 12px 0 0 0;
}
#multiple .parts label.title
{
    padding: 0;
    padding-top: 35px;
}
#difficult
{
    background: url(../img/difficulty_bg.png) no-repeat;
    height: 22px;
    margin: 25px auto 0 auto;
    padding: 0 0 0 53px;
    width: 291px;
}
.ui-slider
{
    height: 21px;
    position: relative;
    text-align: left;
    width: 224px;
}
.ui-slider-handle
{
    background: url(../img/difficulty.png);
    cursor: pointer;
    height: 33px;
    margin-left: -12px;
    position: absolute;
    top: -8px;
    width: 24px;
    z-index: 2;
}
#referral #main
{
    background: none;
    padding: 20px 0 50px 0;
    width: 960px;
}

#referral h1
{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
#referral footer
{
    background: none;
    height: 0px;
}

#main p.back_button
{
    padding: 0;
    margin: 0;
}

#main p.back_button {
    background: url(../img/vert_div.png) right top repeat-y;
    padding: 7px 15px 0 10px;
    height: 31px;
    width: 56px;
    float: left;
}
#example
{
    background: url(../img/content_bg.png);
    box-shadow: #333 0px 2px 6px;
    color: #6b8793;
    moz-box-shadow: #333 0px 2px 6px;
    padding: 40px 0;
    webkit-box-shadow: #333 0px 2px 6px;
}
#example .multiple
{
    background: url(../img/content_div.png) no-repeat right center;
    float: left;
    padding: 0 50px;
    width: 380px;
}
#example .short
{
    float: right;
    padding: 0 50px;
    width: 380px;
}
#example h1
{
    color: #000;
    font-weight: bold;
    padding: 0 0 10px 0;
}
#example h4
{
    color: #6b8793;
    font-size: 18px;
    font-style: italic;
    padding: 0 0 8px 0;
}
#example ol
{
    font-size: 18px;
    list-style: decimal;
    padding: 0 0 0 25px;
}
#example ul
{
    color: #465961;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}
#example textarea
{
    background: #FFF;
    border: 1px solid #6f8791;
    border-radius: 0px;
    box-shadow: inset #999 0px 0px 6px;
    height: 75px;
    margin-top: 12px;
    moz-box-shadow: inset #999 0px 0px 6px;
    padding: 5px;
    resize: none;
    webkit-box-shadow: inset #999 0px 0px 6px;
    width: 290px;
}
#example input
{
    margin: 0 8px 0 0;
}
#example a
{
    background: url(../img/content_btn.png) no-repeat;
    color: #996633;
    display: block;
    font-size: 16px;
    height: 36px;
    margin: 40px auto 0 auto;
    padding: 12px 0 0 0;
    text-align: center;
    width: 291px;
}

@media print
{
    *
    {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }
    a, a:visited
    {
        color: #444 !important;
        text-decoration: underline;
    }
    a:after
    {
        content: " (" attr(href) ")";
    }
    abbr:after
    {
        content: " (" attr(title) ")";
    }
    .ir a:after
    {
        content: "";
    }
    pre, blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr, img
    {
        page-break-inside: avoid;
    }
    @page
    {
        margin: 0.5cm;
    }
    p, h2, h3
    {
        orphans: 3;
        widows: 3;
    }
    h2, h3
    {
        page-break-after: avoid;
    }
}
