body
{
    background: white url(../img/tile.png);
    border: 0;
    padding:0;
    margin:0;
    font-family: 'Droid Serif', serif;
}

a img
{
    border: none;
}

.container
{
    width: 920px;
    margin: 0 auto;
    background: white;
    border-top: solid 1px white;
    text-align: center;
    padding-bottom: 50px;
}

.section
{
}

h1.title
{
    text-indent: -99999px;
    background: white url(../img/edufocal-flow.png);
    height: 161px;
    width: 442px;
    margin: 25px auto 0;
}

h2
{
    font-size: 32px;
}

header,
.call-to-action,
.testimony
{
    width: 560px;
    margin: 0 auto;
}

header,
.call-to-action
{
    color: #5F7C89;
}

.testimonials
{
    background-color: #0089C4;
    color: white;
    text-align: left;
    border-top: solid 1px #0089C4;
    font-size: 15px;
    margin: -4px 0 20px 0;
}

.testimony
{
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-bottom: solid 1px #ccc;
}

.testimony img
{
    border-radius: 50%;
    border: solid 3px white;
    width: 60px;
    height: 60px;
    float: left;
}

.testimony .envelope
{
    float: left;
    width: 440px;
    background: transparent url(../img/quote.png) no-repeat scroll top left;
    margin-left: 15px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

blockquote
{
    margin: 16px 40px;
}

.envelope .name,
.envelope .from
{
    margin: 0.1em 40px;
    font-weight: bold;
}

.level
{
    color: #0089C4;
    font-weight: bold;
}
