body, html {
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    font-size: 100%;
    line-height: 1.4em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper
{
    padding: 2em;
}

table#items
{
    border-top: solid 1px #666;
}

table#items td
{
    border-top: solid 1px #666;
}

table#items th
{
    text-align: left;
    background-color: #ccc;
}

#footer
{
    position: absolute;
    bottom: 0;
    text-align: center;
}
