/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following ALA
 * article:
 *   http://www.alistapart.com/articles/howtosizetextincss
 *
 * All modern browsrs use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
  color: #333;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

pre,
code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

html, body
{
    background: url(../img/nav_bg.png) repeat-x #FFF;
    color: #6b8793;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}

/*
 * Headings
 */
h1 {
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font.
                           Remember, a margin specified in ems is relative to
                           the element's font-size, not to the pages' base
                           font size. So, for example, if we want a 1em margin
                           (relative to the base font), we have to divide that
                           length by the element's font-size:
                           1em / 2em = 0.5em */
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
  margin-bottom: 0.667em;
  color: #0072a3;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
  margin-bottom: 0.769em;
}

h4,
h5,
h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
  margin-bottom: 0.909em;
}

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 1em 0;
}

blockquote {
  margin: 1em 2em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
    content: '';
    content: none;
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

ins
{
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

a
{
    color: #0089c4;
    text-decoration: none;
}

h2
{
    color: #0072a3;
}


/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
    color: #0089c4;
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
a:focus {
}

a:active {
}
a:focus
{
    outline: none;
}

table {
  border-collapse: collapse;
  /* width: 100%; */ /* Prevent cramped-looking tables */
}

th,
thead th,
tbody th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

tbody {
  border-top: none;
}

/*
 * Abbreviations
 */
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */ {
  border: none;
  cursor: auto;
  white-space: normal;
}

/*
 * Images
 */
img {
  border: 0;
}

/*
 * Horizontal rules
 */
hr {
  height: 1px;
  border: 1px solid #666;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
}
strong
{
    color: #34454d;
}

input[type="text"], input[type="password"], select
{
    background: url(../img/input_bg.png) repeat-x left top #fff;
    border: 1px solid #b3c5c9;
    border-radius: 4px;
    height: 28px;
    moz-border-radius: 4px;
    padding: 0 4px 0 4px;
    webkit-border-radius: 4px;
}

.clear,
.clearfix
{
    clear: both;
}
.hidden
{
    display: none;
}
.invisible
{
    visibility: hidden;
}

small
{
    font-size: 12px;
}
.small
{
    display: block;
    font-size: 12px;
}
#left
{
    background: url(../img/header_01.png) repeat-x 0px 0px;
    height: 391px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 49%;
    z-index: 1;
}

/* 
 * BOOTSTRAP CSS
 *
 */
.row {
      margin-left: -20px;
        *zoom: 1;
}

.row:before,
.row:after {
      display: table;
        content: "";
}

.row:after {
      clear: both;
}

[class*="span"] {
      float: left;
        margin-left: 20px;
}

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
      width: 940px;
}

.span12 {
      width: 940px;
}

.span11 {
      width: 860px;
}

.span10 {
      width: 780px;
}

.span9 {
      width: 700px;
}

.span8 {
      width: 620px;
}

.span7 {
      width: 540px;
}

.span6 {
      width: 460px;
}

.span5 {
      width: 380px;
}

.span4 {
      width: 300px;
}

.span3 {
      width: 220px;
}

.span2 {
      width: 140px;
}

.span1 {
      width: 60px;
}

.offset12 {
      margin-left: 980px;
}

.offset11 {
      margin-left: 900px;
}

.offset10 {
      margin-left: 820px;
}

.offset9 {
      margin-left: 740px;
}

.offset8 {
      margin-left: 660px;
}

.offset7 {
      margin-left: 580px;
}

.offset6 {
      margin-left: 500px;
}

.offset5 {
      margin-left: 420px;
}

.offset4 {
      margin-left: 340px;
}

.offset3 {
      margin-left: 260px;
}

.offset2 {
      margin-left: 180px;
}

.offset1 {
      margin-left: 100px;
}

.row-fluid {
      width: 100%;
        *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
      display: table;
        content: "";
}

.row-fluid:after {
      clear: both;
}

.row-fluid [class*="span"] {
      display: block;
        float: left;
          width: 100%;
            min-height: 28px;
              margin-left: 2.127659574%;
                *margin-left: 2.0744680846382977%;
                  -webkit-box-sizing: border-box;
                       -moz-box-sizing: border-box;
                             -ms-box-sizing: border-box;
                                       box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
      margin-left: 0;
}

.row-fluid .span12 {
      width: 99.99999998999999%;
        *width: 99.94680850063828%;
}

.row-fluid .span11 {
      width: 91.489361693%;
        *width: 91.4361702036383%;
}

.row-fluid .span10 {
      width: 82.97872339599999%;
        *width: 82.92553190663828%;
}

.row-fluid .span9 {
      width: 74.468085099%;
        *width: 74.4148936096383%;
}

.row-fluid .span8 {
      width: 65.95744680199999%;
        *width: 65.90425531263828%;
}

.row-fluid .span7 {
      width: 57.446808505%;
        *width: 57.3936170156383%;
}

.row-fluid .span6 {
      width: 48.93617020799999%;
        *width: 48.88297871863829%;
}

.row-fluid .span5 {
      width: 40.425531911%;
        *width: 40.3723404216383%;
}

.row-fluid .span4 {
      width: 31.914893614%;
        *width: 31.8617021246383%;
}

.row-fluid .span3 {
      width: 23.404255317%;
        *width: 23.3510638276383%;
}

.row-fluid .span2 {
      width: 14.89361702%;
        *width: 14.8404255306383%;
}

.row-fluid .span1 {
      width: 6.382978723%;
        *width: 6.329787233638298%;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
     -moz-box-shadow: 0 0 6px #dbc59e;
          box-shadow: 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
     -moz-box-shadow: 0 0 6px #d59392;
          box-shadow: 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
     -moz-box-shadow: 0 0 6px #7aba7b;
          box-shadow: 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.control-group {
      margin-bottom: 9px;
}

legend + .control-group {
      margin-top: 18px;
        -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
      margin-bottom: 18px;
        *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
      display: table;
        content: "";
}

.form-horizontal .control-group:after {
      clear: both;
}

.form-horizontal .control-label {
      float: left;
        width: 140px;
          padding-top: 5px;
            text-align: right;
}

.form-horizontal .controls {
      *display: inline-block;
        *padding-left: 20px;
          margin-left: 160px;
            *margin-left: 0;
}

.form-horizontal .controls:first-child {
      *padding-left: 160px;
}

.form-horizontal .help-block {
      margin-top: 9px;
        margin-bottom: 0;
}

.form-horizontal .form-actions {
      padding-left: 160px;
}

.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
      -ms-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}

.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.btn-group {
  position: relative;
  *margin-left: .3em;
  *zoom: 1;
}

.btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}

.btn-group:after {
  clear: both;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-toolbar {
  margin-top: 9px;
  margin-bottom: 9px;
}

.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group > .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .dropdown-toggle {
  *padding-top: 4px;
  padding-right: 8px;
  *padding-bottom: 4px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini.dropdown-toggle {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-group > .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large.dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0055cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}

.btn:hover .caret,
.open.btn-group .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-mini .caret {
  margin-top: 5px;
}

.btn-small .caret {
  margin-top: 6px;
}

.btn-large .caret {
  margin-top: 6px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-top: 0;
  border-bottom: 5px solid #000000;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.alert
{
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #c09853;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert h4, .alert p
{
    margin: 0;
}
.alert h4
{
    padding: 0 10px 0 0;
}
.alert .more
{
    float: left;
    font-size: 13px;
    padding: 2px 0 0 0;
}
.alert .close
{
    float: right;
    color: #fff;
}

.alert-success {
    color: #fff;
    background-color: rgb(170, 138, 204);
    border-color: #fff;
}
.alert-danger, .alert-error {
    color: #fff;
    background-color: rgb(224, 89, 89);
    border-color: #fff;
}
.alert-info {
    color: #fff;
    background-color: rgb(62, 167, 207);
    border-color: #fff;
}
.alert-success a 
{
   text-decoration: underline;
   color: #fff;
}
#right
{
    background: url(../img/header_03.png) repeat-x 0px 0px;
    height: 391px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 49%;
    z-index: 1;
}
#overlay
{
    background: url(../img/header_02.jpg) no-repeat center top;
    height: 391px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}
header
{
    position: relative;
    width: 100%;
    z-index: 3;
}
header a
{
    font-style: normal;
    font-weight: bold;
}
#wrapper
{
    position: relative;
    z-index: 3;
}
#wrapper, #main, footer .container
{
    margin: 0 auto 0 auto;
    width: 962px;
}
header nav
{
    float: left;
    height: 80px;
}
header .logo
{
    float: left;
    padding: 14px 25px 0 0;
}
header nav li
{
    float: left;
    height: 50px;
    padding: 30px 18px 0 18px;
}
header nav li a
{
    color: #0072a3;
}
header nav li.current
{
    background: url(../img/current.png) no-repeat center bottom;
}
header nav li.current a
{
    color: #6b8793;
}
header .social
{
    margin: 0;
    list-style: none;
}
header .social li
{
    float: left;
    margin: 0;
    padding: 11px 0 0 16px;
}
header .social a
{
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
header .twitter
{
    background: url(../img/social.png) no-repeat;
    background-position: left top;
}
header .facebook
{
    background: url(../img/social.png) no-repeat;
    background-position: center top;
}
header .rss
{
    background: url(../img/social.png) no-repeat;
    background-position: right top;
}
header h1
{
    font-size: 30px;
}
header p.announce
{
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    width: 500px;
}
#signin
{
    float: right;
    position: relative;
    width: 139px;
    z-index: 10;
}
#signin .login_btn
{
    background: url(../img/signin.png) no-repeat left top;
    display: block;
    height: 28px;
    margin-top: 10px;
    position: relative;
    text-indent: -9999px;
    width: 138px;
}
#signin .login_btn.active
{
    background: url(../img/signin.png) no-repeat right top;
}
#login
{
    background: url(../img/login_bg.png) no-repeat left bottom;
    display: none;
    font-size: 12px;
    left: -100px;
    padding: 0 7px 11px 7px;
    position: absolute;
    top: 65px;
    width: 231px;
    z-index: 5;
}
#login form
{
    background: #fff;
    border-radius: 4px 0 4px 4px;
    margin: -2px auto 0 auto;
    moz-border-radius: 4px 0 4px 4px;
    padding: 10px 18px 10px 18px;
    webkit-border-radius: 4px 0 4px 4px;
    width: 195px;
}
#login label
{
    display: block;
}
#login input
{
    width: 192px;
}
#login button
{
    background: url(../img/btn/sign_in.png) no-repeat left bottom;
    border: none;
    display: block;
    height: 32px;
    margin: 15px 0 0 0;
    text-indent: -9999px;
    width: 71px;
}
#login .remember
{
    float: right;
    font-size: 11px;
    font-weight: normal;
    padding: 20px 0 0 0;
}
#login .remember label
{
    font-size: 12px;
    float: right;
}
#login #global_login_error
{
    color: red;
    display: none;
    font-weight: bold;
    margin-top: 10px;
}
#login #global_login_ball
{
    display: none;
    float: right;
    margin-top: 20px;
}
#login .checkbox
{
    background: url(../img/checkbox.gif) no-repeat;
    clear: left;
    display: block;
    float: left;
    height: 25px;
    padding: 0 5px 0 0;
    width: 19px;
}
#login p
{
    float: left;
    font-size: 11px;
    padding: 10px 0 0 0;
    width: 49%;
}
#login a
{
    font-weight: normal;
}
.slideshow
{
    clear: both;
    height: 315px;
    padding-top: 20px;
    position: relative;
}
.slideshow .left
{
    float: left;
    left: 0;
    position: absolute;
    top: 20px;
    width: 600px;
}
.slideshow .right
{
    float: right;
    height: 277px;
    position: absolute;
    right: 0;
    top: 38px;
    width: 532px;
    z-index: 1;
}
.slideshow .pricing
{
    background: url(../img/btn/pricing_01.png) no-repeat left top;
    display: block;
    float: left;
    height: 58px;
    margin: 15px 10px 0 10px;
    text-indent: -9999px;
    width: 232px;
}
.slideshow .overlay
{
    background: url(../img/slide_overlay.png);
    height: 100px;
    margin-top: -100px;
    position: relative;
    width: 532px;
    z-index: 2;
}
header .extra
{
    clear: both;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 800px;
}
.divider1
{
    background: url(../img/div1.png) no-repeat;
    height: 22px;
    margin: 20px auto 0 auto;
    width: 990px;
}
#column_1
{
    float: left;
    padding-top: 20px;
    width: 638px;
}
#column_1 .section
{
    margin: 0 auto 0 auto;
    width: 620px;
}
#column_1 .section p
{
    padding-bottom: 5px;
}
.benefits
{
    list-style: none;
}
.benefits li
{
    background: url(../img/check.png) no-repeat;
    background-position: left 5px;
    padding: 4px 10px 4px 40px;
}
.divider2
{
    background: url(../img/div2.png) no-repeat center center;
    height: 35px;
    padding: 10px 0 10px 0;
    width: 638px;
}
#comparison
{
    background-color: #dcedf4;
    border-radius: 6px;
    moz-border-radius: 6px;
    webkit-border-radius: 6px;
    margin-bottom: 10px;
}
#comparison .heading
{
    background: url(../img/comp_bg.png) repeat-x;
    border-radius: 6px 6px 0 0;
    height: 78px;
    moz-border-radius: 6px 6px 0 0;
    webkit-border-radius: 6px 6px 0 0;
}
#comparison .heading .logo
{
    float: left;
    margin: 10px 70px 0 80px;
}
#comparison .heading .vs
{
    float: left;
}
#comparison .heading h3
{
    float: right;
    margin: 24px 80px 0 0;
}
#comparison .good
{
    float: left;
    padding-top: 16px;
    width: 49%;
}
#comparison .bad
{
    float: right;
    padding-top: 16px;
    width: 49%;
}
.shortcoming
{
    list-style: none;
}
.shortcoming li
{
    background: url(../img/cross.png) no-repeat;
    background-position: left 5px;
    padding: 0 10px 0 40px;
}
#sign_up
{
    color: #fff;
    padding: 15px 0 0 0;
    width: 620px;
}
#sign_up .left
{
    float: left;
    width: 389px;
    background: #9dd0e7;
    border-right: 1px solid #77b4d5;
}
#sign_up .left img
{
    float: left;
    margin: -15px 15px 0 -15px;
}
#sign_up .left h1
{
    font-size: 28px;
    margin: 0;
    padding: 10px 0 0 35px;
}
#sign_up .left ul
{
    list-style: none;
}
#sign_up .left li
{
    background: url(../img/check_2.png) no-repeat left 3px;
    float: left;
    margin: 0px;
    padding: 0 0 10px 20px;
    width: 42%;
}
#sign_up .right
{
    float: right;
    height: 106px;
    padding-top: 57px;
    text-align: center;
    width: 229px;
    background: #bde1f1;
    border-left: 1px solid #dbeff7;
}
#subjects .left
{
    float: left;
    width: 48%;
}
#subjects .right
{
    float: right;
    width: 48%;
}
#subjects h3
{
    font-weight: bold;
}
#subjects ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#subjects li
{
    clear: left;
    padding: 8px 0 8px 0;
}
#subjects li img
{
    float: left;
    margin: 0 10px 10px 0;
}
#exams
{
    padding-bottom: 30px;
}
#exams h1
{
    background: url(../img/exam_bg1.png) repeat-x;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    height: 55px;
    padding: 12px 0 0 15px;
}
#exams ul
{
    list-style: none;
}
#exams li
{
    background: url(../img/bullet.png) no-repeat left 3px;
    padding: 0 10px 0 15px;
}
#exams .left
{
    background-color: #dcedf4;
    float: left;
    height: 250px;
    width: 48%;
}
#exams .right
{
    background-color: #dcedf4;
    float: right;
    height: 250px;
    width: 48%;
}
#sign_up_2
{
    background: #9dd0e7;
    color: #fff;
    width: 620px;
}
#sign_up_2 .left
{
    float: left;
    width: 380px;
}
#sign_up_2 .cert
{
    float: left;
    margin: -15px 15px 0 -15px;
}
#sign_up_2 h1
{
    font-size: 28px;
    margin-bottom: 8px;
    padding: 10px 0 0 30px;
}
#sign_up_2 p
{
    text-align: center;
}
#sign_up_2 .left ul
{
    list-style: none;
    margin: 0;
    padding: 0 0 0 35px;
}
#sign_up_2 .left li
{
    background: url(../img/check_2.png) no-repeat left 3px;
    margin: 0;
    padding: 0 8px 10px 25px;
}
#sign_up_2 .right
{
    float: right;
    padding: 0 20px 0 0;
    width: 220px;
}
#sign_up_2 .button
{
    display: block;
    text-align: center;
}
#column_2
{
    float: right;
    padding-top: 20px;
    width: 306px;
}
#column_2 h3
{
    color: #34454d;
    font-size: 20px;
}
.divider3
{
    background: url(../img/div3.png) no-repeat;
    height: 44px;
    width: 306px;
}
#testimonial ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#testimonial img
{
    float: left;
}
#testimonial p
{
    float: right;
    width: 230px;
    margin-top: 0;
}
#testimonial li
{
    clear: both;
}
#testimonial .small
{
    font-size: 12px;
}
.tabs
{
    background-color: #d9edf6;
    margin-bottom: 25px;
    padding-bottom: 1px;
    width: 300px;
}
.tab
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab li
{
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}
.tab a
{
    color: #fff;
    display: block;
    height: 30px;
    padding: 10px 0 0 0;
    width: 150px;
}
.tab .right
{
    background: url(../img/tab_bg.jpg) no-repeat left top;
}
.tab .left
{
    background: url(../img/tab_bg.jpg) no-repeat right top;
}
.tab .active a
{
    background: none;
    color: #6b8793;
}
.standings
{
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 10px 10px 0 10px;
}
.standings li
{
    background: url(../img/top_bg.png) repeat-x left bottom #fff;
    clear: both;
    margin: 0 0 1px 0;
    padding-bottom: 8px;
}
.standings .standing
{
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 17px 0 17px;
}
.standings .user
{
    float: left;
    padding: 8px 0 0 0;
    width: 185px;
}
.standings .user img
{
    float: left;
    margin: 0 5px 0 0;
    width: 40px;
}
.standings .user p
{
    margin: 0;
    padding: 3px 0 0 0;
}
.standings .status
{
    float: right;
    font-size: 8px;
    padding: 12px 12px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.padded
{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px 0 10px;
}
.tab_body
{
    display: none;
}
.tab_body.activated
{
    display: block;
}
#steps
{
    background: url(../img/steps.png) no-repeat;
    height: 47px;
    margin: 20px auto 20px auto;
    width: 940px;
}
#steps.step1
{
    background-position: 0px 0px;
}
#steps.step2
{
    background-position: 0px -48px;
}
#steps.step3
{
    background-position: 0px -96px;
}
.general_header
{
    background: url(../img/price_left.png) repeat-x;
    border-radius: 4px;
    margin: 15px auto;
    moz-border-radius: 4px;
    padding: 10px 20px;
    webkit-border-radius: 4px;
    width: 900px;
}
.pricing
{
    height: 225px;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 940px;
}
.pricing h2
{
    margin: 0;
}
.pricing .left
{
    background: url(../img/price_left.png) repeat-x;
    border-radius: 4px 0 0 4px;
    float: left;
    height: 215px;
    moz-border-radius: 4px 0 0 4px;
    padding: 10px 20px 0 20px;
    webkit-border-radius: 4px 0 0 4px;
    width: 610px;
}
.pricing .right
{
    background: url(../img/price_right.png) repeat-x;
    border-radius: 0 4px 4px 0;
    float: right;
    height: 225px;
    moz-border-radius: 0 4px 4px 0;
    webkit-border-radius: 0 4px 4px 0;
    width: 290px;
}
.pricing .price
{
    background: url(../img/pricing.png) no-repeat bottom;
    height: 104px;
    margin: 0 auto 0 auto;
    padding-top: 40px;
    text-align: center;
    width: 224px;
}
.pricing small
{
    font-style: italic;
    text-align: center;
}
.pricing .price span.only,
.pricing .price span.period
{
    display: block;
    color: #FFF;
    font-size: 22px;
    padding: 0;
    margin: 0.46em 0;
    text-shadow: -1px -1px -1px #666;
}
.pricing .price span.value
{
    display: block;
    color: #222;
    text-shadow: 1px 1px -1px #aee;
    font-size: 32px;
    padding: 0;
    margin: 0.46em 0;
}
.pricing ul
{
    margin: 0;
    padding: 0;
}
.pricing li
{
    background: url(../img/check.png) no-repeat left 5px;
    color: #fff;
    float: left;
    list-style: none;
    padding: 0 10px 0 40px;
    width: 25%;
}
.pricing strong
{
    color: #006c9b;
}
#register .left
{
    float: left;
    padding: 20px;
    width: 550px;
}
#register table
{
    margin: 0 auto 0 auto;
}
#register .right
{
    background: url(../img/right_fade.png) left center no-repeat;
    float: right;
    padding: 20px;
    width: 310px;
}
#register label
{
    display: block;
    float: left;
    height: 22px;
    padding: 6px 0 0 0;
    width: 49%;
}
#register .control-label
{
	display: none;
}
#register label input
{
    height: 16px;
}
#register select
{
    width: auto;
}
#register #currency,
#register #plan
{
    font-size: 0.85em;
}
#register table tr td
{
    padding-bottom: 0;
    padding-top: 0;
}
#register .card-field td
{
    padding-right:0;
}
.centered
{
    margin: 0 auto 0 auto;
    width: 460px;
}
.centered h3
{
    background: #d3f2d1;
    color: #24ac37;
    padding: 15px 0 15px 0;
    text-align: center;
}
.centered h2
{
    color: #34454d;
}
.centered ul
{
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 0;
}
.centered li
{
    background: #e5f2f7;
    padding: 10px 20px 10px 20px;
}
.centered a
{
    font-weight: bold;
}
button
{
    background: url(../img/button_left_blue.png) no-repeat left top;
    border: none;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 220px;
}
button span
{
    background: url(../img/button_right_blue.png) no-repeat right top;
    display: block;
    height: 26px;
    margin: -1px 0 0 0;
    padding: 6px 0px 0 0px;
    width: 220px;
}
.ie8 button span
{
    margin: 0;
}
footer
{
    background: url(../img/footer.png) repeat-y #45a9d4 center;
    clear: both;
    color: #cbe1ea;
    font-size: 13px;
    margin: 20px 0 0 0;
    padding: 15px 0 40px 0;
}
footer a:link,
footer a:visited,
footer a:hover
{
    color: #FFFFFF;
}
footer .copyright
{
    float: left;
    padding: 8px 50px 0 15px;
}
footer nav
{
    float: left;
}
footer nav ul
{
    float: left;
    padding: 0 20px 0 20px;
    width: 150px;
}
footer nav li
{
    border-bottom: 1px solid #87c6e1;
    padding: 8px 0 8px 0;
}
footer nav a
{
    font-weight: bold;
}
footer .social
{
    float: right;
    list-style: none;
    padding: 15px 10px 0 0;
}
footer .social li
{
    float: left;
}
footer .social a
{
    display: block;
    text-align: center;
    width: 80px;
}
footer .blog
{
    background: url(../img/icon/blog.png) no-repeat center top;
    padding: 60px 0 0 0;
}
footer .rss
{
    background: url(../img/icon/rss.png) no-repeat center top;
    padding: 60px 0 0 0;
}
footer .facebook
{
    background: url(../img/icon/facebook.png) no-repeat center top;
    padding: 60px 0 0 0;
}
footer .twitter
{
    background: url(../img/icon/twitter.png) no-repeat center top;
    padding: 60px 0 0 0;
}
#main .single_column
{
    padding: 15px 20px;
}
#main .single_column h3
{
    padding-top: 8px;
}
#zenbox_tab
{
    background: rgb(0, 114, 163);
    top: 26% !important;
}
@media print
{
    *
    {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }
    a, a:visited
    {
        color: #444 !important;
        text-decoration: underline;
    }
    a:after
    {
        content: " (" attr(href) ")";
    }
    abbr:after
    {
        content: " (" attr(title) ")";
    }
    .ir a:after
    {
        content: "";
    }
    pre, blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr, img
    {
        page-break-inside: avoid;
    }
    #page
    {
        margin: 0.5cm;
    }
    p, h2, h3
    {
        orphans: 3;
        widows: 3;
    }
    h2, h3
    {
        page-break-after: avoid;
    }
} 
