/* Example tokeninput style #2: edufocal style */
ul.token-input-list-edufocal {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 355px;
    border: 1px solid #B3C5C9;
    cursor: text;
    font-size: 12px;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

ul.token-input-list-edufocal li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    background:none !important;
    -webkit-appearance: caret;
}

li.token-input-token-edufocal {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-edufocal p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-edufocal span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-edufocal {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-edufocal {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 5;
}

div.token-input-dropdown-edufocal {
    position: absolute;
    width: 355px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    cursor: default;
    font-size: 11px;
    z-index: 5;
}

div.token-input-dropdown-edufocal p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-edufocal ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-edufocal ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-edufocal ul li.token-input-dropdown-item-edufocal {
    background-color: #fff;
}

div.token-input-dropdown-edufocal ul li.token-input-dropdown-item2-edufocal {
    background-color: #fff;
}

div.token-input-dropdown-edufocal ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-edufocal ul li.token-input-selected-dropdown-item-edufocal {
    background-color: #3b5998;
    color: #fff;
}