.ui-widget-overlay
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-widget-overlay
{
    background: #aaaaaa url(../img/overlay.png) 50% 50%;
    filter: Alpha(Opacity=70);
    opacity: .70;
}
.ui-icon
{
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-dialog .ui-dialog-title
{
    float: left;
    margin: 0 16px 0 0;
}
.ui-dialog .ui-dialog-titlebar-close
{
    height: 40px;
    margin: 0 -10px 0;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    display: none;
}
.ui-dialog .ui-dialog-titlebar-close span
{
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
    padding: 1px;
}
.ui-dialog .ui-dialog-buttonpane
{
    background: url(../img/overlay_mid.png) repeat-y;
    border-width: 1px 0 0 0;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
    text-align: left;
}
.ui-dialog .ui-dialog-buttonpane button
{
    cursor: pointer;
    float: right;
    line-height: 1.4em;
    margin: .5em .4em .5em 0;
    overflow: visible;
    padding: .2em .6em .3em .6em;
    width: auto;
}
.ui-dialog .ui-resizable-se
{
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}
.ui-draggable .ui-dialog-titlebar
{
    cursor: move;
}

.ui-dialog
{
    border: none;
    padding: 0 .2em 10px .2em;
}
.ui-dialog-titlebar
{
    background: transparent;
    background-position: top;
    font-weight: bold;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}
.ui-dialog-content
{
    border: none;
    clear: both;
    overflow: auto;
    padding: 0;
    zoom: 1;
}
.ui-icon-closethick
{
    background: url(../img/close.png) no-repeat;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#winner
{
    display: none;
}

#winner.next-level-topic
{
    background: url(../img/win-level-topic.jpg) no-repeat;
    background-position: top;
}

#winner.next-level-subject
{
    background: url(../img/win-level-subject.jpg) no-repeat;
    background-position: top;
}

#winner > .section
{
    padding: 20px 30px;
}

#winner .identity-info,
#winner .achievement
{
    float: left;
}

#winner .identity-info
{
    width: 34%;
    color: white;
}

#winner .achievement
{
    background: transparent url(../img/vertical-prize-septum.png) no-repeat 0 50%;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 20px;
    margin-top: -30px;
    text-align: center;
    text-transform: uppercase;
    width: 55%;
}

#winner .achievement .subject,
#winner .achievement .topic
{
    font-size: 1.2em;
}
#winner .achievement > .section
{
    padding: 0 0 0 20px;
}

#winner .achievement > .section img
{
    display: block;
    margin: 0 auto;
}

#winner .identity-info .photo img
{
    border: solid 2px #8945B2;
    border-radius: 5px;
    width: 128px;
}

#winner .core-message
{
    background: transparent url(../img/septum-prize-horizontal.png) no-repeat 50% 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    min-height: 20px;
}

#winner.next-level-topic .core-message,
#winner.next-level-topic .achievement
{
    text-shadow: 1px 1px 4px rgb(22,126, 207);
}
#winner .core-message > .section
{
    padding: 15px 10px;
}
#winner .core-message a
{
    color: white;
}

#winner .return-to-dashboard,
#winner .try-another-test
{
    float: left;
    margin: 0 0.66em 0 0;
    display: block;
    width: 184px;
    height: 27px;
}

#winner.next-level-topic .return-to-dashboard,
#winner.next-level-topic .try-another-test,
#winner.next-level-subject .return-to-dashboard,
#winner.next-level-subject .try-another-test
{
    text-indent: -9999px;
    border: none;
}

#winner.next-level-topic .return-to-dashboard
{
    background: transparent url(../img/return-to-dashboard-blue-modal.png) no-repeat 0 0;
}

#winner.next-level-topic .try-another-test
{
    background: transparent url(../img/try-another-test-purple-modal.png) no-repeat 0 0;
}

#winner.next-level-subject .return-to-dashboard
{
    background: transparent url(../img/return-to-dashboard-purple-modal.png) no-repeat 0 0;
}

#winner.next-level-subject .try-another-test
{
    background: transparent url(../img/try-another-test-blue-modal.png) no-repeat 0 0;
}

#winner #modal_logo
{
    display: block;
    box-shadow: 1px 1px 20px #666;
    border-radius: 16px;
    border: solid 2px whiteSmoke;
    margin-bottom: 20px;
    margin-left: -10px;
}

#winner table
{
    font-weight: normal;
}
.styled
{
    border-bottom: solid 1px #c8d8dc;
    color: #6b8793;
    font-weight: bold;
    padding: 0 0 10px 0;
}
.styled tr
{
    border-left: solid 1px #c8d8dc;
    border-right: solid 1px #c8d8dc;
    border-top: solid 1px #c8d8dc;
    margin: 0;
}
.styled td
{
    background: url(../img/exp_bg.png) repeat-x #f3f7f8;
    clear: both;
    font-weight: normal;
    margin: 0;
}
.styled td h3
{
    margin: 0;
}
.styled td h3 a
{
    font-size: 16px;
}
.styled tr.heading td
{
    background-color: rgb(12, 142,245);
    color: #fff;
    font-weight: normal;
    background-image: linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -o-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -moz-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -webkit-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -ms-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(120,191,245)),
        color-stop(0.45, rgb(12,140,245)),
        color-stop(0.75, rgb(12,140,245))
    );
 }
.styled tr.heading2
{
    border: none;
}
.styled tr.heading2 td
{
    background: none;
    border: none;
    color: #34454d;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
}
.styled tr.heading ul
{
    float: right;
    margin: 0;
    padding: 0 10px 0 10px;
}
.styled tr.heading li
{
    float: left;
    margin: 0;
    padding: 0 8px 0 8px;
}
.styled.border
{
    border: none;
}
.styled.border td
{
    border: solid 1px #c8d8dc;
}

#winner .progress
{
    border-radius: 6px;
    width: 100%;
}

#winner .progress .amount
{
    line-height: 0.7em;
    border-radius: 6px; 
}

#winner.next-level-subject .progress
{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(65, 35, 70)),
        color-stop(0.45, rgba(78, 49, 83, 0.44)),
        color-stop(0.75, rgba(80, 48, 85, 0.63))
    );
    padding: 1px;
}

#winner.next-level-subject .progress .amount
{
    background-image: linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -o-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -moz-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -webkit-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);
    background-image: -ms-linear-gradient(top, rgb(120,191,245) 0%, rgb(12,140,245) 45%, rgb(12,140,245) 75%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(120,191,245)),
        color-stop(0.45, rgb(12,140,245)),
        color-stop(0.75, rgb(12,140,245))
    );
}

#winner.next-level-topic .progress
{
    background-image: linear-gradient(top, rgb(31, 132, 173) 76%, rgb(60, 145, 170) 56%, rgb(54, 183, 226,) 78%);
    background-image: -o-linear-gradient(top, rgb(31, 132, 173) 76%, rgb(60, 145, 170) 56%, rgb(54, 183, 226,) 78%);
    background-image: -moz-linear-gradient(top, rgb(31, 132, 173) 76%, rgb(60, 145, 170) 56%, rgb(54, 183, 226,) 78%);
    background-image: -wekit-linear-gradient(top, rgb(31, 132, 173) 76%, rgb(60, 145, 170) 56%, rgb(54, 183, 226,) 78%);
    background-image: -ms-linear-gradient(top, rgb(31, 132, 173) 76%, rgb(60, 145, 170) 56%, rgb(54, 183, 226,) 78%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(31, 132, 173, 0.76)),
        color-stop(0.45, rgba(60, 145, 170, 0.56)),
        color-stop(0.75, rgba(54, 183, 226, 0.78))
    );
    padding: 2px;
}

#winner.next-level-topic .progress .amount
{
    background-image: linear-gradient(top, rgb(203, 120, 218) 0%, rgb(166, 105, 175) 45%, rgb(130, 73, 139) 75%);
    background-image: -o-linear-gradient(top, rgb(203, 120, 218) 0%, rgb(166, 105, 175) 45%, rgb(130, 73, 139) 75%);
    background-image: -moz-linear-gradient(top, rgb(203, 120, 218) 0%, rgb(166, 105, 175) 45%, rgb(130, 73, 139) 75%);
    background-image: -wekit-linear-gradient(top, rgb(203, 120, 218) 0%, rgb(166, 105, 175) 45%, rgb(130, 73, 139) 75%);
    background-image: -ms-linear-gradient(top, rgb(203, 120, 218) 0%, rgb(166, 105, 175) 45%, rgb(130, 73, 139) 75%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(203, 120, 218)),
        color-stop(0.45, rgb(166, 105, 175)),
        color-stop(0.75, rgb(130, 73, 139))
    );
}

.identity-info .topic,
.identity-info .level
{
    font-size: 0.8em;
    font-weight: bold;
    margin: 0.66em 0;
}
