 /*
 	Primary Styles
    Author: Shane Shipston
 */

body
{
    background: url(../img/body_bg.png) repeat-x left 163px #deedf3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a
{
    color: #0072a3;
    font-weight: bold;
    text-decoration: none;
}
h1, h2, h3, h5, h6
{
    font-weight: normal;
    margin: 0 0 16px 0;
}
h1
{
    font-size: 28px;
}
h2
{
    font-size: 22px;
}
h3
{
    font-size: 18px;
}
h4
{
    font-size: 16px;
    margin: 10px 0 10px 0;
}

a:focus
{
    outline: none;
}
.small
{
    display: block;
    font-size: 12px;
    padding: 5px 0 5px 0;
}
ul, ol
{
    list-style: none;
    margin: 0;
}
input[type="text"], input[type="password"], select
{
    background: url(../img/input_bg.png) repeat-x left top #fff;
    border: 1px solid #b3c5c9;
    border-radius: 4px;
    height: 28px;
    moz-border-radius: 4px;
    padding: 0 3px 0 3px;
    webkit-border-radius: 4px;
}
textarea
{
    background: url(../img/input_bg.png) repeat-x left top #fcfcfc;
    border: 1px solid #b3c5c9;
    border-radius: 4px;
    moz-border-radius: 4px;
    padding: 0 3px 0 3px;
    webkit-border-radius: 4px;
}
.button
{
    background: url(../img/button_1.png) no-repeat left bottom;
    color: #FFF;
    display: block;
    float: left;
    font-size: 10px;
    height: 15px;
    padding: 5px 0 0 0;
    text-align: center;
    width: 102px;
}
button.blue
{
    background: url(../img/blue_button_bg.png) no-repeat left top;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    width: 74px;
}
header
{
    background: url(../img/header_bg.png) repeat-x;
    height: 163px;
    min-width: 1000px;
}
header .wrapper
{
    margin: 0 auto 0 auto;
    position: relative;
    width: 983px;
}
.logo
{
    float: left;
    margin: 14px 0 8px 23px;
}
nav.personal
{
    background: url(../img/nav_personal_01.png) left bottom no-repeat;
    float: right;
    height: 26px;
    padding: 0 0 0 5px;
}
nav.personal ul
{
    background: url(../img/nav_personal_03.png) right bottom no-repeat;
    height: 26px;
    padding: 0 5px 0 0;
}
nav.personal li
{
    background: url(../img/nav_personal_02.png) bottom repeat-x;
    float: left;
    height: 22px;
    padding: 4px 16px 0 16px;
}
nav.personal a
{
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
}
nav.personal .active a
{
    background: url(../img/current.png) no-repeat bottom center;
}
nav.main
{
    clear: left;
    float: left;
    padding: 0 0 0 20px;
}
nav.main li
{
    background: url(../img/purp_bg.png) no-repeat left top;
    float: left;
    height: 43px;
    margin: 0 5px 0 0;
}
nav.main a
{
    background: url(../img/purp_end.png) no-repeat right top;
    color: #8f23b3;
    display: block;
    font-weight: bold;
    height: 27px;
    padding: 16px 24px 0 24px;
}
nav.main li.active
{
    background: url(../img/blue_bg.png) no-repeat left top;
}
nav.main .active a
{
    background: url(../img/blue_end.png) no-repeat right top;
    color: #0089c4;
}
nav.category
{
    clear: both;
    padding: 8px 0 0 15px;
}
nav.category a
{
    color: #0072a3;
    display: block;
    height: 19px;
    padding: 3px 20px 0 20px;
}
nav.category li
{
    float: left;
}
nav.category li.active
{
    background: url(../img/nav_bg1.png) no-repeat left top;
}
nav.category .active a
{
    background: url(../img/nav_bg2.png) no-repeat right top;
    color: #fff;
    font-weight: normal;
}
header .user
{
    clear: right;
    float: right;
    padding: 20px 0 0 0;
    width: 25%;
}
header .user .img
{
    background: #fff;
    border: 1px solid #56b1d8;
    float: right;
    height: 41px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 4px;
    width: 41px;
}
header .user p
{
    color: #696969;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 3px 0;
    text-align: right;
}
header .user .small
{
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    text-align: right;
}
#main
{
    background: url(../img/wrapper_bg.jpg) repeat-y;
    margin: 0 auto 0 auto;
    width: 983px;
}
#main .wrapper
{
    padding: 12px 21px 10px 21px;
}
#main .heading
{
    background: url(../img/subject_hd_bg.png) repeat-x;
    border-bottom: 1px solid #cbd3d7;
    border-left: 1px solid #cbd3d7;
    border-right: 1px solid #cbd3d7;
    height: 38px;
    padding: 1px 0 0 0;
}

#main .heading.padded
{
    margin: 0 9px 0 9px;
    padding: 1px 10px 0; /* 1px stops bleeding margin */
}

#main div.back_button
{
    background: url(../img/vert_div.png) right top repeat-y;
    float: left;
    height: 31px;
    padding: 7px 15px 0 10px;
    width: 56px;
}
#main .heading .left
{
    float: left;
    padding: 8px 0 0 10px;
}
#main .heading .right
{
    float: right;
    padding: 8px 10px 0 0;
}
.breadcrumb
{
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.breadcrumb a
{
    font-size: 14px;
    font-weight: bold;
}
.breadcrumb li
{
    background: url(../img/angle_div.png) no-repeat right center;
    float: left;
    height: 27px;
    margin: 0;
    padding: 11px 20px 0 12px;
}
.breadcrumb li.last
{
    background: none;
}
.quick_nav
{
    float: left;
    font-size: 12px;
    font-style: italic;
}
.quick_nav li
{
    float: left;
    height: 27px;
    margin: 0;
    padding: 11px 20px 0 12px;
}
.quick_nav a
{
    color: #666;
    font-weight: normal;
}
.settings
{
    background: #fff;
    margin: 0 10px -24px 10px;
    padding-bottom: 24px;
    /*position: relative;*/
    z-index: 100;
}

.settings label
{
    cursor: default;
    font-size: 16px;
}
.settings label strong
{
    font-size: 28px;
    font-weight: normal;
}
.settings table
{
    margin-bottom: 15px;
}
.settings.upper
{
    padding: 0 0 0 11px;
}
.settings h1
{
    font-size: 24px;
    font-weight: bold;
}

.settings:after
{
    clear: both;
    content: "";
    display: block;
    height: 12px;
    margin: 0;
    padding: 0;
}
.upper:before
{
    background: url(../img/settings_upper.png) no-repeat 698px top;
    content: "";
    display: block;
    height: 6px;
    margin: 0;
    padding: 0;
}

.settings input, .settings select
{
    height: auto;
    margin: 0;
    padding: 5px 6px;
}
.settings input[type=text], .settings input[type=password]
{
    width: 175px;
}
.settings input[type=radio]
{
    height: 18px;
    margin: 0 8px;
}
.settings input[name=gender]
{
    margin: 0 45px 0 8px;
}
.settings .img
{
    cursor: pointer;
    float: left;
    margin: 0 25px 0 5px;
}
.settings input[type="file"]
{
    background: url(../img/attach.png) no-repeat left bottom;
    border: none;
    height: 24px;
    margin: 8px 0 10px 8px;
    padding: 0 0 0 35px;
}

.settings h3
{
    margin: 0;
    padding: 10px 0;
}

.settings button
{
    background: url(../img/btn_bg.png);
    border: none;
    color: #996633;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    margin: 0 15px 0 0;
    width: 163px;
}

.settings .divider
{
    margin: 1em 0;
    border: none;
    background: #fff url(/assets/dbrd/img/exp_bg.png) repeat-x bottom left;
    height: 1px;
}

.teacher_data
{
    margin: 0 auto 0 auto;
    padding: 20px 0 20px 0;
}
.teacher_data .img
{
    border: 1px solid #d7dcdf;
    float: left;
    margin: 0 15px 10px 0;
}
.teacher_data .name
{
    float: left;
}
.teacher_data .name h2
{
    margin: 0;
    padding: 8px 0 0 0;
}
.teacher_data .name p
{
    color: #a1a1a1;
    font-size: 14px;
    margin: 0;
}
.teacher_data .rating
{
    float: left;
    padding: 10px 0 0 50px;
    text-align: center;
}
.selection
{
    background: #FFF;
    border: 1px solid #d7dcdf;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    moz-border-radius: 6px;
    padding: 20px;
    webkit-border-radius: 6px;
}
.selection ul
{
    padding: 1px 10px 20px 10px;
}
.selection input
{
    margin: 0 10px 0 0;
}
.selection .practice
{
    float: left;
    font-style: italic;
    padding: 0 0 0 60px;
    text-align: center;
    width: 219px;
}

.selection .practice button,
.selection .timed button
{
    border: none;
    height: 46px;
    margin-bottom: 10px;
    text-indent: -9999px;
    width: 219px;
}

.selection .practice button
{
    background: url(../img/practice_test.png);
}
.selection .timed
{
    float: right;
    font-style: italic;
    padding: 0 60px 0 0;
    text-align: center;
    width: 219px;
}
.selection .timed button
{
    background: url(../img/timed_test.png);
}

.selection h3
{
    float: left;
    margin: 10px 10px 0 0;
    width: 30px;
}
.selection .question
{
    color: #6b8793;
    float: right;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 95%;
}
.selection .question p
{
    color: #6b8793;
    font-size: 18px;
    font-style: italic;
}
.selection .question h3
{
    color: #000;
    font-style: normal;
}
.answer
{
    border: 1px solid #d7dcdf;
    border-radius: 6px;
    margin: 10px 0 20px 0;
    moz-border-radius: 6px;
    webkit-border-radius: 6px;
}
.answer .submitted
{
    background: #FFF;
    border-radius: 6px 6px 0 0;
    moz-border-radius: 6px 6px 0 0;
    padding: 20px 20px 10px 20px;
    webkit-border-radius: 6px 6px 0 0;
}
.answer .question
{
    color: #6b8793;
    float: right;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 0 0 10px 0;
    width: 95%;
}
.answer .question h3
{
    color: #000;
    font-style: normal;
}
.submitted h3
{
    float: left;
    margin: 0 10px 0 0;
    padding-bottom: 15px;
    width: 30px;
}
.submitted p
{
    color: #6b8793;
    font-size: 18px;
    font-style: italic;
    margin: 0;
}
.submitted strong
{
    color: #000;
    font-style: normal;
}
.answer .vote
{
    background: #f2f5f6;
    border-radius: 0 0 6px 6px;
    color: #6b8793;
    font-size: 14px;
    moz-border-radius: 0 0 6px 6px;
    padding: 10px 20px 20px 20px;
    webkit-border-radius: 0 0 6px 6px;
}
.answer .vote.no
{
    background: #faf3f3;
    border-top: 1px solid #f4acac;
}
.answer .vote label
{
    color: #8e9ba2;
    font-weight: bold;
}
.answer .vote table p
{
    margin: 0;
}
.answer .vote .no
{
    background: url(../img/voted_no.png) no-repeat;
    color: #a20000;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 17px;
    padding: 0 0 0 25px;
}
.answer .vote .yes
{
    background: url(../img/voted_yes.png) no-repeat;
    color: #0b9105;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 0 0 0 25px;
}
.undo
{
    float: left;
    padding: 0 0 0 25px;
}
.undo small
{
    font-size: 12px;
}
.response
{
    background: #FFF;
    border: 1px solid #d7dcdf;
    border-radius: 6px;
    margin-bottom: 10px;
    moz-border-radius: 6px;
    padding: 20px 20px 10px 20px;
    webkit-border-radius: 6px;
}
.response .user
{
    float: left;
    width: 50%;
}
.response .img
{
    float: left;
    margin: 0 15px 10px 0;
}
.response .user h4
{
    float: left;
    margin: 0;
    padding: 0 0 5px 0;
}
.response .user h4 a
{
    font-size: 16px;
}
.response .tutor
{
    background: url(../img/star.png) no-repeat;
    float: left;
    height: 13px;
    margin: 0 0 0 15px;
    padding: 4px 0 0 22px;
}
.response .user p
{
    clear: both;
}
.response .vote
{
    float: right;
    padding: 10px 0 0 0;
}
.response .voted_no
{
    background: url(../img/voted_no.png) no-repeat 10px 0;
    color: #a20000;
    font-size: 16px;
    font-weight: bold;
    height: 17px;
    padding: 0 0 0 35px;
}
.response .voted_yes
{
    background: url(../img/voted_yes.png) no-repeat 10px 0;
    color: #0b9105;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 0 0px 0 35px;
}
.response .comments
{
    padding: 0 0 10px 56px;
}
.response .submitted p
{
    float: left;
}
.response .undo
{
    font-style: normal;
}
.response .correct
{
    background: #f2f5f6;
    margin: 10px -20px 10px -20px;
    padding: 10px 20px 10px 20px;
}
.response .correct p
{
    float: left;
    padding: 0 25px 0 0;
}
.response.no
{
    border: 1px solid #e51717;
}
#main .by_teacher .heading
{
    height: 28px;
    padding: 10px 0 0 12px;
}
#main .by_teacher h3
{
    color: #8e9ba2;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
#main .by_teacher h4
{
    color: #8e9ba2;
}
#main .by_teacher .search
{
    width: 220px;
}
#main .by_teacher .column
{
    float: left;
    padding: 0 0 0 9px;
    width: 327px;
}
#main .by_teacher .column .body
{
    padding: 5px 13px 0 13px;
}
#main .by_teacher .column li
{
    float: left;
    padding: 0 9px 0 9px;
}
#main .by_teacher .column a
{
    font-size: 14px;
}
#main .by_teacher .teacher
{
    float: left;
    margin: 0 0 0 -1px;
    width: 638px;
}
#main .by_teacher .teacher li
{
    background: #fafbfc;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f5f8f9));
    background: -webkit-linear-gradient(#FFFFFF, #f5f8f9);
    background: -moz-linear-gradient(#FFFFFF, #f5f8f9);
    background: -ms-linear-gradient(#FFFFFF, #f5f8f9);
    background: -o-linear-gradient(#FFFFFF, #f5f8f9);
    background: linear-gradient(#FFFFFF, #f5f8f9);
    border-bottom: 1px solid #cbd3d7;
    border-left: 1px solid #cbd3d7;
    border-right: 1px solid #cbd3d7;
    margin: 0;
    width: 636px;
}
#main .by_teacher .listing li a
{
    color: inherit;
    display: block;
    font-weight: normal;
    height: auto;
    padding: 10px;
    width: auto;
}
#main .by_teacher .teacher h3
{
    border: none;
    float: left;
    padding: 0 15px 0 0;
}
#main .by_teacher .teacher small
{
    float: left;
    font-size: 11px;
    padding: 3px 0 0 0;
}
#main .by_teacher .teacher p
{
    padding: 0 0 0 12px;
}
#main .by_teacher .teacher .img
{
    background: #f0f3f5;
    border: 1px solid #c8d8dc;
    float: left;
    height: 60px;
    margin: 0 14px 0 0;
    width: 60px;
}
#main .by_teacher .teacher .title
{
    color: #a1a1a1;
    font-size: 12px;
    font-style: italic;
}
#main .by_teacher .teacher h2
{
    font-size: 18px;
    margin-bottom: 2px;
}
#main .by_teacher .topic_heading
{
    padding: 8px 12px 0 12px;
}
#main .by_teacher .teacher .rating
{
    float: right;
    padding: 15px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}
#main .by_teacher form
{
    padding-bottom: 20px;
}
#main .by_teacher input
{
    float: left;
    height: 30px;
}
#main .by_teacher button
{
    background: url(../img/search_btn.png);
    border: none;
    float: right;
    height: 32px;
    text-indent: -9999px;
    width: 61px;
}
#main .subject_select
{
    background: #f4fafc;
    border-left: 1px solid #cbd3d7;
    border-right: 1px solid #cbd3d7;
    padding: 10px;
}
#main .by_teacher .subject_select
{
    border-bottom: 1px solid #cbd3d7;
}
#main .by_teacher .subject_select label
{
    float: right;
}
#main .by_teacher .heading ul
{
    float: right;
    margin: 0;
    padding: 3px 10px 0 0;
}
#main .by_teacher .heading li
{
    background: none;
    border: none;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0 8px 0 8px;
    width: auto;
}
#main .similar
{
    background: #cee4ee;
    margin: 20px auto 0 auto;
    padding: 10px;
    width: 90%;
}
#main .similar h2
{
    float: left;
    width: 25%;
}
#main .similar ul
{
    float: left;
    width: 75%;
}
#main .by_teacher .teacher .similar li
{
    background: none;
    border: none;
    float: left;
    padding: 0 5px 10px 5px;
    width: 31%;
}
#main .column .body .img
{
    border: 1px solid #d7dcdf;
    float: left;
    margin: 15px 15px 10px 0;
}
#main .column .body .name h2
{
    margin: 0;
    padding: 15px 0 0 0;
}
#main .column .body .name p
{
    color: #a1a1a1;
    font-size: 14px;
    margin: 0;
}
#main .column .body .rating
{
    padding: 5px 0 0 0;
}
#main .testing
{
    padding-top: 20px;
}
#main .testing h1
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
#main .testing h3
{
    font-size: 18px;
}
#main .testing ul
{
    margin: 3px 10px 30px 20px;
}
#main .testing li
{
    font-size: 13px;
    padding: 2px 0 2px 0;
}
#main .testing .divider
{
    margin: 8px 0 10px 0;
}
#main .testing .left p
{
    margin-top: 0;
}
#main .testing .left input
{
    margin-right: 10px;
}
#main .testing .left
{
    float: left;
    margin: 0 0 0 30px;
    width: 60%;
}
#main .testing .test
{
    background: #FFF;
    border-radius: 6px;
    box-shadow: #666 0px 2px 10px;
    margin-bottom: 16px;
    moz-border-radius: 6px;
    moz-box-shadow: #666 0px 2px 10px;
    padding: 15px;
    webkit-border-radius: 6px;
    webkit-box-shadow: #666 0px 2px 10px;
}
#main .testing .right
{
    background: #f4f4f3;
    border-radius: 6px;
    box-shadow: inset #999 0px 0px 8px;
    color: #999;
    float: right;
    margin: 0 30px 0 0;
    moz-border-radius: 6px;
    moz-box-shadow: inset #999 0px 0px 8px;
    padding: 15px;
    webkit-border-radius: 6px;
    webkit-box-shadow: inset #999 0px 0px 8px;
    width: 25%;
}
#main .testing .previous
{
    background: url(../img/previous_page.png) no-repeat;
    border: none;
    float: left;
    height: 37px;
    margin-left: 10px;
    text-indent: -9999px;
    width: 141px;
}
#main .testing .next
{
    background: url(../img/next_page.png) no-repeat;
    border: none;
    float: right;
    height: 37px;
    margin-right: 10px;
    text-indent: -9999px;
    width: 141px;
}
#main .testing .quit h3
{
    font-size: 14px;
    font-weight: bold;
}
#main .testing .quit button
{
    background: url(../img/quit_test.png);
    border: none;
    color: #fff;
    float: right;
    font-size: 11px;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 66px;
}
#main .testing .progress_bar
{
    background: #FFF;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    height: 10px;
    moz-border-radius: 8px;
    padding: 2px;
    webkit-border-radius: 8px;
}
#main .testing .progress
{
    background: #5abb4a;
    border-radius: 8px;
    height: 10px;
    moz-border-radius: 8px;
    webkit-border-radius: 8px;
}
.divider
{
    background: #b3c5c9;
    height: 1px;
    width: 100%;
}
.alert
{
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #555;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert h4, .alert p
{
    margin: 0;
}
.alert h4
{
    padding: 0 10px 0 0;
}
.alert .more
{
    float: left;
    font-size: 13px;
    padding: 2px 0 0 0;
}
.alert .close
{
    float: right;
    color: #fff;
}

.alert-success {
    color: #fff;
    background-color: rgb(170, 138, 204);
    border-color: #fff;
}
.alert-danger, .alert-error {
    color: #fff;
    background-color: rgb(224, 89, 89);
    border-color: #fff;
}
.alert-info {
    color: #fff;
    background-color: rgb(62, 167, 207);
    border-color: #fff;
}
.alert-success a
{
   text-decoration: underline;
   color: #fff;
}
#column_1
{
    float: left;
    width: 620px;
}
#column_1 .summary
{
    color: #333;
    padding-bottom: 15px;
}
#column_1 .summary .left
{
    background: rgb(217, 237, 246);
    border-right: 1px solid #71afcf;
    float: left;
    height: 114px;
    padding: 16px 10px 0 10px;
    width: 369px;
}
#column_1 .summary .left p
{
    font-size: 13px;
}
#column_1 .summary .right
{
    background: #daedf5;
    border-left: 1px solid #bfe0f0;
    float: right;
    height: 116px;
    padding: 14px 9px 0 9px;
    width: 211px;
}
#column_1 .summary .right a
{
    display: block;
    padding-bottom: 5px;
}
#column_1 .column
{
    float: left;
    width: 300px;
}
#column_1 .column.left
{
    padding: 0 20px 0 0;
}

.styled
{
    border-bottom: solid 1px #c8d8dc;
    color: #6b8793;
    font-weight: bold;
    padding: 0 0 10px 0;
}
.styled tr
{
    border-left: solid 1px #c8d8dc;
    border-right: solid 1px #c8d8dc;
    border-top: solid 1px #c8d8dc;
    margin: 0;
}
.styled td
{
    background: url(../img/exp_bg.png) repeat-x #f3f7f8;
    clear: both;
    font-weight: normal;
    margin: 0;
}

.styled td.status
{
    background: none;
    color: #333;
}

.styled td.accepted
{
    background-color: rgb(210, 248, 226);
}

.styled td.pending
{
    background-color: rgb(210, 210, 228);
}

.styled td.rejected
{
    background-color: rgb(228, 200, 200);
}

.styled td h3
{
    margin: 0;
}
.styled td h3 a
{
    font-size: 16px;
}
.styled tr.heading td
{
    background: url(../img/exp_head.png) repeat-x #e8eced;
    color: #34454d;
    font-weight: bold;
}
.styled tr.heading2
{
    border: none;
}
.styled tr.heading2 td
{
    background: none;
    border: none;
    color: #34454d;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
}
.styled tr.heading ul
{
    float: right;
    margin: 0;
    padding: 0 10px 0 10px;
}
.styled tr.heading li
{
    float: left;
    margin: 0;
    padding: 0 8px 0 8px;
}
.styled.border
{
    border: none;
}
.styled.border td
{
    border: solid 1px #c8d8dc;
}
.red
{
    color: #F00;
}
.bar_graph
{
    background: url(../img/bar_graph_bg.png) no-repeat;
    height: 15px;
    padding: 2px 3px 0 3px;
    width: 212px;
}
.bar_graph div
{
    background-position: left center;
    height: 13px;
}
.bar_yellow
{
    background-color: #F2EE92;
    background-image: linear-gradient(bottom, rgb(242,239,146) 49%, rgb(242,240,169) 75%, rgb(247,245,175) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(242,239,146) 49%, rgb(242,240,169) 75%, rgb(247,245,175) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(242,239,146) 49%, rgb(242,240,169) 75%, rgb(247,245,175) 82%);
    background-image: -o-linear-gradient(bottom, rgb(242,239,146) 49%, rgb(242,240,169) 75%, rgb(247,245,175) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(242,239,146) 49%, rgb(242,240,169) 75%, rgb(247,245,175) 82%);
    border-radius: 8px;
    width: 0px;
}
.bar_green
{
    background: url(../img/bar_green.png) no-repeat;
}
.bar_blue
{
    background: url(../img/bar_blue.png) no-repeat;
}
.bar_grey
{
    background: url(../img/bar_grey.png) no-repeat;
}
.tabs
{
    background-color: #d9edf6;
    padding-bottom: 1px;
    width: 300px;
}
.tab
{
    margin: 0;
}
.tab li
{
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.tab a
{
    color: #fff;
    display: block;
    height: 30px;
    padding: 10px 0 0 12px;
    width: 138px;
}
.tab .right
{
    background: url(../img/tab_bg.jpg) no-repeat left top;
}
.tab .left
{
    background: url(../img/tab_bg.jpg) no-repeat right top;
}
.tab .active a
{
    background: none;
    color: #6b8793;
}
.standings
{
    font-size: 12px;
    margin: 0;
    padding: 0 10px 0 10px;
}
.standings li
{
    background: url(../img/top_bg.png) repeat-x left bottom #fff;
    clear: both;
    margin: 0 0 1px 0;
    padding-bottom: 5px;
}
.standings .standing
{
    background: url(../img/arrow.png) no-repeat 8px 20px;
    float: left;
    font-weight: bold;
    padding: 20px 10px 0 25px;
}
.standings .user
{
    float: left;
    padding: 8px 0 0 0;
    width: 185px;
}
.standings .user img
{
    float: left;
    margin: 0 5px 0 0;
}
.standings .user p
{
    margin-top: 0;
    padding: 3px;
}
.standings .status
{
    float: right;
    font-size: 8px;
    padding: 12px 12px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.padded
{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px 0 12px;
}
.tab_body
{
    display: none;
}
.tab_body.activated
{
    display: block;
}
#column_2
{
    float: right;
    width: 301px;
}
.messages
{
    border-bottom: solid 1px #c8d8dc;
    margin: 0 0 10px 0;
}
.messages li
{
    background: url(../img/exp_bg.png) repeat-x #f3f7f8;
    border-left: solid 1px #c8d8dc;
    border-right: solid 1px #c8d8dc;
    border-top: solid 1px #c8d8dc;
    margin: 0;
    padding: 8px 8px 8px 28px;
}
.messages li.starred a
{
    background: url(../img/star.png) no-repeat 6px 6px;
    display: block;
    padding: 8px 8px 8px 28px;
}
.messages li.starred
{
    padding: 0px;
}
.messages li.unread
{
    background: #88C7E2;
    color: #fff;
}
.messages li.unread a
{
    color: #fff;
}
.payout
{
    background: url(../img/payout.png) no-repeat;
    height: 117px;
    padding-bottom: 10px;
}
.payout .amount
{
    float: left;
    height: 87px;
    padding: 30px 0 0 0;
    text-align: center;
    width: 121px;
}
.payout .amount h1
{
    color: #3c89ad;
    font-size: 32px;
    margin: 0;
}
.payout .amount sup
{
    font-size: 15px;
    font-weight: bold;
}
.payout .amount small
{
    font-size: 10px;
    text-transform: uppercase;
}
.payout .msg
{
    color: #fff;
    float: right;
    height: 97px;
    padding: 20px 13px 0 13px;
    width: 154px;
}
.payout .msg a
{
    color: #fff;
    text-decoration: underline;
}
.referrals img
{
    float: left;
    margin: 0 10px 10px 0;
}
.referrals strong
{
    font-size: 16px;
}
.single_column
{
    padding: 15px 81px 0 81px;
}
.tutor
{
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
}
.profile .user
{
    float: left;
    margin: 0 20px 20px 0;
}
.profile .top
{
    float: left;
    width: 600px;
}
.profile h2
{
    float: left;
    padding: 0 25px 0 0;
}
.profile .top img
{
    float: left;
    padding: 4px 10px 0 0;
}
.profile .tutor
{
    float: left;
    padding: 8px 25px 0 0;
}
.profile .data
{
    float: left;
}
.profile h4
{
    margin: 0;
}
.bordered
{
    border: 1px solid #c8d8dc;
}
.bordered .data
{
    background: #f5f8f9;
    padding: 10px;
}
.bordered .action
{
    background: #ddecf2;
    padding: 10px;
}
.bordered .action h4
{
    float: left;
    padding: 0px 25px 0 10px;
}
.photo
{
    float: right;
    padding: 0 0 0 15px;
}
.bordered .exp p
{
    float: left;
}
.single_column .new_question h3
{
    margin: 0;
    padding: 8px 0 8px 0;
}
.single_column .new_question button
{
    font-size: 12px;
}
footer
{
    background: url(../img/footer.jpg);
    height: 34px;
    margin: 0 auto 0 auto;
    width: 983px;
}
.up
{
    background: url(../img/rank_up.png) no-repeat;
    color: #00b111;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    padding: 0 0 0 20px;
}
.down
{
    background: url(../img/rank_down.png) no-repeat;
    color: #b10000;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    padding: 0 0 0 20px;
}
#referral
{
    background: #2399cc;
}
#referral #main
{
    background: none;
    padding: 20px 0 50px 0;
    width: 900px;
}
#referral .contest
{
    background: url(../img/wrapper_bg.jpg) repeat-y center center;
    border: 1px solid #000;
    margin-bottom: 30px;
    padding: 20px;
}
#referral .contest .prize
{
    float: left;
    margin: 0 15px 0 0;
}
#referral .contest .details
{
    float: left;
    width: 324px;
}
#referral .contest .code
{
    float: right;
    padding-top: 10px;
    width: 300px;
}
#referral .contest .code h4
{
    margin-top: 0px;
}
#referral .contest .code input
{
    margin-bottom: 15px;
}
#referral h1
{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
#referral table h2
{
    color: #34454d;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
#referral h2 small
{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}
#referral h4
{
    color: #34454d;
    font-size: 15px;
}
#referral .grey
{
    color: #6b8793;
}
#referral h4 a
{
    font-size: inherit;
}
#referral footer
{
    background: none;
    height: 0px;
}
ul.form
{
    display: block;
    float: left;
    list-style: none;
    margin: 15px 0;
    padding: 0;
    width: 70%;
}
ul.form li
{
    clear: both;
    display: block;
    margin: 0 0 5px 0;
    padding: 10px 15px;
}
ul.form li.active
{
    background: #EBEFFA;
}
ul.form li:hover
{
    background: #EBEFFA;
    cursor: pointer;
}
ul.form li label
{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    text-align: right;
    width: 120px;
}
ul.form li span
{
    display: inline-block;
}
ul.form li div
{
    display: inline-block;
}
ul.form li small
{
    display: inline-block;
    float: right;
    font-size: 10px;
    font-weight: bold;
}

