html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, table,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video
{
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
nav ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
    content: '';
    content: none;
}
a
{
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
ins
{
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark
{
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del
{
    text-decoration: line-through;
}
abbr[title], dfn[title]
{
    border-bottom: 1px dotted;
    cursor: help;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
hr
{
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
input, select
{
    vertical-align: middle;
}
body
{
    font: 13px/1.231 sans-serif;
    font-size: small;
}
select, input, textarea, button
{
    font: 99% sans-serif;
}
pre, code, kbd, samp
{
    font-family: monospace, sans-serif;
}
body, select, input, textarea
{
    color: #444;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
html
{
    overflow-y: scroll;
}
a:hover, a:active
{
    outline: none;
}
a:hover
{
    color: #036;
}
ul, ol
{
    margin-left: 1.8em;
}
ol
{
    list-style-type: decimal;
}
nav ul, nav li
{
    margin: 0;
}
small
{
    font-size: 85%;
}
strong, th
{
    font-weight: bold;
}
sub
{
    font-size: smaller;
    vertical-align: sub;
}
sup
{
    font-size: smaller;
    vertical-align: super;
}
pre
{
    padding: 15px;
    white-space: pre;
    white-space: pre-line;
    white-space: pre-wrap;
    word-wrap: break-word;
}
textarea
{
    overflow: auto;
}
.ie6 legend, .ie7 legend
{
    margin-left: -7px;
}
input[type="radio"]
{
    vertical-align: text-bottom;
}
input[type="checkbox"]
{
    vertical-align: bottom;
}
.ie7 input[type="checkbox"]
{
    vertical-align: baseline;
}
.ie6 input
{
    vertical-align: text-bottom;
}
label, input[type=button], input[type=submit], button
{
    cursor: pointer;
}
button, input, select, textarea
{
    margin: 0;
}
input:valid, textarea:valid
{
}
input:invalid, textarea:invalid
{
    border-radius: 1px;
    box-shadow: 0px 0px 5px red;
    moz-box-shadow: 0px 0px 5px red;
    webkit-box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid
{
    background-color: #f0dddd;
}
a:link
{
    webkit-tap-highlight-color: #FF5E99;
}
button
{
    overflow: visible;
    width: auto;
}
.ir
{
    background-repeat: no-repeat;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}
.hidden
{
    display: none;
    visibility: hidden;
}
.invisible
{
    visibility: hidden;
}
.clearfix
{
    clear: both;
}
html, body
{
    background: url(../img/test_bg.png) repeat-x #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a
{
    color: #0072a3;
    font-weight: bold;
    text-decoration: none;
}
h1, h2, h3, h5, h6
{
    font-weight: normal;
    margin: 0 0 16px 0;
}
h1
{
    font-size: 30px;
}
h2
{
    font-size: 22px;
}
h3
{
    font-size: 18px;
}
h4
{
    font-size: 16px;
    margin: 10px 0 10px 0;
}
p, li
{
    margin: 10px 0 10px 0;
}
a:focus
{
    outline: none;
}
.small
{
    display: block;
    font-size: 12px;
    padding: 5px 0 5px 0;
}
ul, ol
{
    list-style: none;
    margin: 0;
}
input[type="text"], input[type="password"], select
{
    background: url(../img/input_bg.png) repeat-x left top #fff;
    border: 1px solid #b3c5c9;
    border-radius: 4px;
    height: 28px;
    moz-border-radius: 4px;
    padding: 0 3px 0 3px;
    webkit-border-radius: 4px;
}
textarea
{
    background: url(../img/input_bg.png) repeat-x left top #fcfcfc;
    border: 1px solid #b3c5c9;
    border-radius: 4px;
    moz-border-radius: 4px;
    padding: 0 3px 0 3px;
    webkit-border-radius: 4px;
}
#main
{
    margin: 0 auto 0 auto;
    width: 983px;
}
#main .wrapper
{
    padding: 12px 21px 10px 21px;
}
.testing
{
    padding-top: 20px;
}
.testing .logo
{
    float: left;
    margin: 0 15px 15px 0;
}
.testing h1
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
.testing h1 span
{
    color: #FF0000;
    font-size: 22px;
    text-transform: uppercase;
}
.testing h3
{
    font-size: 18px;
    font-weight: bold;
}
.testing ul
{
    color: #465961;
    margin: 3px 10px 30px 20px;
}
.testing li
{
    font-size: 13px;
    padding: 2px 0 2px 0;
}
.testing li label
{
    float: left;
}
.testing li label input
{
    float: left;
}
.testing li label .opt
{
    float: left;
}
.testing .left p
{
    margin-top: 0;
}
.testing .left input
{
    margin-right: 10px;
}
.testing .left
{
    float: left;
    position: relative;
    width: 66%;
}
.testing .test
{
    background: #FFF;
    box-shadow: #999 0px 2px 6px;
    margin-bottom: 16px;
    moz-box-shadow: #999 0px 2px 6px;
    padding: 15px;
    webkit-box-shadow: #999 0px 2px 6px;
}
.teacher
{
    font-style: italic;
}
.testing .right
{
    color: #999;
    float: right;
    width: 30%;
}
.testing .right span
{
    color: #414141;
}
.testing .previous
{
    background: url(../img/previous_page.png) no-repeat;
    border: none;
    float: left;
    height: 36px;
    text-indent: -9999px;
    width: 140px;
}
.testing .next
{
    background: url(../img/next_page.png) no-repeat;
    border: none;
    float: right;
    height: 36px;
    text-indent: -9999px;
    width: 140px;
}
.testing .finish
{
    background: url(../img/finish_test.png) no-repeat;
    border: none;
    float: right;
    height: 36px;
    text-indent: -9999px;
    width: 140px;
}

.testing .quit
{
    background: #f4f4f3;
    border-radius: 4px;
    box-shadow: inset #aaa 0px 0px 8px;
    margin-bottom: 15px;
    moz-border-radius: 4px;
    moz-box-shadow: inset #aaa 0px 0px 8px;
    padding: 15px;
    position: fixed;
    webkit-border-radius: 4px;
    webkit-box-shadow: inset #aaa 0px 0px 8px;
    width: 228px;
}

.review .quit
{
    position: relative;
}

.testing .quit h3
{
    font-size: 14px;
    font-weight: bold;
}
.testing .quit button
{
    background: url(../img/quit_test.png);
    border: none;
    color: #fff;
    float: right;
    font-size: 11px;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 66px;
}
.testing .progress_bar
{
    background: #FFF;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    height: 10px;
    moz-border-radius: 8px;
    padding: 2px;
    webkit-border-radius: 8px;
}
.testing .progress
{
    background: #5abb4a;
    border-radius: 8px;
    height: 10px;
    moz-border-radius: 8px;
    webkit-border-radius: 8px;
}
.testing .incorrect
{
    background: #edbbbd;
}
.testing .correct
{
    background: #c2f2ca;
}
.testing .instruction
{
    text-decoration: underline;
}
.testing .question
{
    padding-bottom: 5px;
}
.testing .question::after
{
    clear: left;
}

.testing .question *
{
    font-size: 18px;
}

.testing .item
{
    clear: both;
}

.testing .number
{
    float: left;
    font-weight: bold;
    margin: 0 8px 6px 0;
}
.hint,
.explain
{
    box-shadow: #999 2px 2px 5px;
    float: right;
    margin-right: -210px;
    moz-box-shadow: #999 2px 2px 5px;
    webkit-box-shadow: #999 2px 2px 5px;
    width: 195px;
}

.explain
{
    width: 250px;
    margin-right: -265px;
}

.hint.closed
{
    margin-right: -100px;
    width: 85px;
}

.explain.closed
{
    margin-right: -115px;
    width: 100px;
}

.hint header,
.explain header
{
    background: url(../img/minimize.png) no-repeat #5abb4a 183px center;
    color: #FFF;
    cursor: pointer;
    height: 25px;
    padding: 4px 5px;
}

.explain header
{
    background-position: 230px center;
}
.hint .img,
.explain .img
{
    background: #FFF;
    float: left;
    height: 25px;
    margin-right: 5px;
    width: 25px;
}
.hint h4,
.explain h4
{
    margin: 0;
    padding-top: 3px;
}
.hint section,
.explain section
{
    background: #FFF;
    height: 90px;
    overflow: auto;
    padding: 6px;
}

.explain section
{
    height: auto;
}

.hint.closed section,
.explain.closed section
{
    display: none;
}
.results
{
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
}
.results .grade
{
    background: #e7f2f7;
    border-bottom: 1px solid #adc8d4;
    border-radius: 3px 3px 0 0;
    moz-border-radius: 3px 3px 0 0;
    padding: 30px 16px 20px 16px;
    webkit-border-radius: 3px 3px 0 0;
}
.results .topic-summary
{
    color: #0072A3;
}
.results .grade .review, .results .experience .summary
{
    float: left;
    width: 25%;
}
.results .grade .copy, .results .experience .details
{
    float: right;
    width: 70%;
}
.results .copy h1
{
    color: #000;
    font-size: 22px;
    padding: 0 0 8px 0;
}
.results .copy p
{
    line-height: 18px;
}
.results .review
{
    text-align: center;
}
.results .score
{
    background: #fff;
    box-shadow: #999 0px 1px 3px;
    margin-bottom: 10px;
    moz-box-shadow: #999 0px 1px 3px;
    padding: 8px 0 8px 0;
    webkit-box-shadow: #999 0px 1px 3px;
}
.results .score h6
{
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 6px 0;
    text-transform: uppercase;
}
.results .score h1
{
    color: #5abb4a;
    font-size: 32px;
}
.results .score h1 sup
{
    font-size: 16px;
}
.results .complete
{
    margin-bottom: 10px;
    padding: 8px 0 16px 0;
}
.results .input
{
    float: right;
    width: 80%;
}
.results .rating
{
    background: #f5fafc;
    border-radius: 0 0 3px 3px;
    min-height: 80px;
    moz-border-radius: 0 0 3px 3px;
    padding: 20px 16px 30px 16px;
    webkit-border-radius: 0 0 3px 3px;
}
.results .rating h2
{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.results .rating p
{
    font-style: italic;
    margin: 0;
    padding: 8px 0 0 0;
}
.results .rating .thumb
{
    float: left;
}
.results .experience h2
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0 0 5px 0;
}
.results .experience .progress_bar
{
    border-color: #ADC8D4;
    margin: 10px 0;
}
.results .experience .bar
{
    background-color: #5ABB4A;
    border-radius: 8px;
    moz-border-radius: 8px;
}
.results .experience .summary
{
    background: url(../img/results.png) no-repeat center center;
    height: 58px;
}
.results .experience .summary h2
{
    color: #fff;
    font-size: 18px;
    padding-top: 18px;
    text-align: center;
    text-shadow: 0px 0px 15px #000;
}
.results .experience .summary h3
{
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
.results .oneq, .results .twoq, .results .threeq
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.results .oneq
{
    background-color: #ff0000;
    border-left-radius: 0;
}
.results .twoq
{
    background-color: #FF9900;
}
.results .threeq
{
    background-color: #99cc00;
}
.results .fourq
{
    background-color: #009900;
}
.stats
{
    background: #e7f2f7;
    border-radius: 8px;
    margin-bottom: 20px;
    moz-border-radius: 8px;
    webkit-border-radius: 8px;
}
.stats li
{
    float: left;
    width: 33%;
}
.stats h4
{
    margin-bottom: 0;
}
.divider
{
    background: #ebebeb;
    clear: both;
    height: 3px;
    margin: 8px 0 15px 0;
    width: 100%;
}
@media print
{
    *
    {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }
    a, a:visited
    {
        color: #444 !important;
        text-decoration: underline;
    }
    a:after
    {
        content: " (" attr(href) ")";
    }
    abbr:after
    {
        content: " (" attr(title) ")";
    }
    .ir a:after
    {
        content: "";
    }
    pre, blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr, img
    {
        page-break-inside: avoid;
    }
    @page
    {
        margin: 0.5cm;
    }
    p, h2, h3
    {
        orphans: 3;
        widows: 3;
    }
    h2, h3
    {
        page-break-after: avoid;
    }
}
